Repository StackVista/stackstate-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_base_image, check_stackstate_api_up-to-date, license_scanning, dependency_scanning, goreleaser_check

publish_base_image:
  stage: setup
  image: nixos/nix:2.8.0
  services:
  - name: docker:20.10.14-dind
  variables:
    NIX_CONFIG: experimental-features = nix-command flakes
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
  ...

check_stackstate_api_up-to-date:
  image:
    name: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
    entrypoint:
    - ''
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOCACHE: $CI_PROJECT_DIR/.gocache
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - .go/pkg/mod/
    - .gocache
  ...

license_scanning:
  stage: check
  image: registry.gitlab.com/gitlab-org/security-products/analyzers/license-finder:3
  variables:
    LM_REPORT_VERSION: '2.1'
  allow_failure: true
  script:
  - /run.sh analyze .
  artifacts:
    reports:
      license_scanning: gl-license-scanning-report.json

dependency_scanning:
  stage: check
  image: registry.gitlab.com/gitlab-org/security-products/analyzers/gemnasium:2
  script:
  - /analyzer run
  allow_failure: true
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

goreleaser_check:
  image:
    name: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
    entrypoint:
    - ''
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOCACHE: $CI_PROJECT_DIR/.gocache
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - .go/pkg/mod/
    - .gocache
  ...

STAC-16703: Add validation test
  cmd/context/common.go
  cmd/context/context_save.go
  cmd/context/context_validate.go
  cmd/context/context_validate_test.go
Due: none

STAC-16703: Update installer scripts
  scripts/publish/installers/install.ps1
  scripts/publish/installers/install.sh
Due: none

STAC-16703: Ignore some linting
  cmd/context/context_save_test.go
  cmd/context/context_set.go
  cmd/context/test_helper.go
Due: none

STAC-16703: Ensure lexographical ordering of Use string
  internal/cobra/use.go
  internal/util/string_set.go
Due: none

STAC-16703: Incorporate review comments
  internal/config/config_test.go
  internal/config/error.go
  internal/config/io.go
Due: none

update openapi version
  cmd/topic/topic_list.go
  cmd/topic/topic_list_test.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_topic.go
  generated/stackstate_api/docs/TopicApi.md
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-16703: Ensure 'context save' works without having a config file present
  cmd/context/context_delete.go
  cmd/context/context_list.go
  cmd/context/context_save.go
  cmd/context/context_set.go
  cmd/context/context_show.go
  cmd/context/context_validate.go
  internal/config/config.go
  internal/config/error.go
  internal/config/load.go
  internal/di/deps.go
  main.go
Due: none

STAC-16816: Remove all notion differnet CLI types
  .goreleaser.yml
  cmd/sts.go
  cmd/version.go
  internal/di/deps.go
  internal/di/mock_deps.go
  main.go
  main_test.go
  scripts/publish/installers/install.ps1
  scripts/publish/installers/install.sh
  static_info/static_info.go
Due: goreleaser_check

STAC-16703: Make it possible to run the CLI without a config file present using just flags or env variables
  cmd/context/common.go
  cmd/context/context_delete.go
  cmd/context/context_delete_test.go
  cmd/context/context_list.go
  cmd/context/context_list_test.go
  cmd/context/context_save.go
  cmd/context/context_save_test.go
  cmd/context/context_set.go
  cmd/context/context_set_test.go
  cmd/context/context_show.go
  cmd/context/context_show_test.go
  cmd/context/context_validate.go
  cmd/context/test_helper.go
  internal/config/config.go
  internal/config/load.go
  internal/di/deps.go
  internal/di/mock_deps.go
Due: none

STAC-0: Update to latest master openapi
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_component.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/ComponentApi.md
  generated/stackstate_api/docs/InlineResponse200.md
  generated/stackstate_api/docs/InlineResponse404.md
  generated/stackstate_api/docs/LatestTelemetryStreamMetrics.md
  generated/stackstate_api/docs/LatestTelemetryStreamMetricsMetric.md
  generated/stackstate_api/model_inline_response_200.go
  generated/stackstate_api/model_inline_response_404.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics_metric.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-16774: Check if the user has permission to write in the /usr/local/bin
  scripts/publish/installers/install.sh
Due: none

STAC-16837: Incorporated review comments
  cmd/stackpack/stackpack_confirm_manual_steps.go
  cmd/style_rules_test.go
Due: none

STAC-0: Ensure API path is set
  internal/config/config.go
  internal/config/load.go
  internal/di/deps.go
Due: none

STAC-0: Make linter happier
  internal/config/config.go
Due: none

add new line to the message
  cmd/anomaly/anomaly_collect_feedback.go
Due: none

STAC-0: Try to use go-rk for release-notes
  .gitlab-ci.yml
  scripts/publish.sh
Due: license_scanning, dependency_scanning, goreleaser_check

STAC-0: Fix gitlab stage
  .gitlab-ci.yml
Due: license_scanning, dependency_scanning, goreleaser_check

Fixed GL pipeline for release notes
  .gitlab-ci.yml
  scripts/publish.sh
Due: license_scanning, dependency_scanning, goreleaser_check

Test to see whether it broke because of releasenotes
  .gitlab-ci.yml
Due: license_scanning, dependency_scanning, goreleaser_check

Re-add generate-release-notes to GL CI
  .gitlab-ci.yml
Due: license_scanning, dependency_scanning, goreleaser_check

Remove dependencies
  .gitlab-ci.yml
Due: license_scanning, dependency_scanning, goreleaser_check

Ignore release notes
  .gitignore
Due: none

STAC-16774 Improve the message for Mac M1 when the user needs to run the install script with sudo
  scripts/publish/installers/install.sh
Due: none

STAC-0: Remove overly agressive URL validation and solve it internally
  internal/client/client.go
  internal/client/client_test.go
  internal/config/config.go
Due: none

STAC-0: Improve error messages on config parsing
  internal/config/config.go
  internal/config/config_test.go
  internal/config/error.go
  internal/config/io.go
  internal/config/load.go
Due: none

STAC-0: Take tag into account for release notes
  .gitlab-ci.yml
Due: license_scanning, dependency_scanning, goreleaser_check

STAC-0: Bump go-rk image
  .gitlab-ci.yml
Due: license_scanning, dependency_scanning, goreleaser_check

Fix id/identifier for monitor status. Fix typo. Ordered stackpacks when listing them.
  cmd/monitor/monitor_run.go
  cmd/monitor/monitor_status.go
  cmd/stackpack/stackpack_list.go
Due: none

pause working on this ticket
  cmd/topic.go
  cmd/topic/topic_show.go
  cmd/topic/topic_show_test.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_topic.go
  generated/stackstate_api/docs/TopicApi.md
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

port health list command
  cmd/health.go
  cmd/health/health_list.go
  cmd/health/health_list_test.go
  cmd/sts.go
Due: none

fix cmd description
  cmd/health/health_list.go
Due: none

STAC-0: Add some TODO to XDG to support full spec
  pkg/xdg/home.go
Due: none

STAC-0: Only run generate-release-notes on tag
  .gitlab-ci.yml
Due: license_scanning, dependency_scanning, goreleaser_check

Sorted every list command. Added tests.
  cmd/monitor/monitor_list.go
  cmd/monitor/monitor_list_test.go
  cmd/servicetoken/servicetoken_list.go
  cmd/settings/settings_list.go
  cmd/settings/settings_list_test.go
  cmd/settings/settings_list_types.go
  cmd/settings/settings_list_types_test.go
  cmd/stackpack/stackpack_list.go
  cmd/stackpack/stackpack_list_instances.go
  cmd/stackpack/stackpack_list_instances_test.go
  cmd/stackpack/stackpack_list_parameters.go
  cmd/stackpack/stackpack_list_parameters_test.go
  cmd/stackpack/stackpack_list_test.go
Due: none

Lint fix
  cmd/monitor/monitor_list_test.go
  cmd/servicetoken/servicetoken_list.go
  cmd/settings/settings_list_types.go
  cmd/stackpack/stackpack_list_instances.go
Due: none

port sub-list command
  cmd/health.go
  cmd/health/flags.go
  cmd/health/health_sub_list.go
  cmd/health/health_sub_list_test.go
Due: none

port health delete command
  cmd/health.go
  cmd/health/flags.go
  cmd/health/health_delete.go
  cmd/health/health_delete_test.go
  cmd/health/health_sub_list.go
  internal/common/common_flags.go
Due: none

port health clear error command
  cmd/health.go
  cmd/health/health_clear_error.go
  cmd/health/health_clear_error_test.go
Due: none

fix linter
  cmd/health/health_clear_error.go
  cmd/health/health_clear_error_test.go
Due: none

Path conditions:
  publish_base_image: any of: flake.lock, flake.nix
  check_stackstate_api_up-to-date: any of: stackstate_openapi/**
  license_scanning: any of: .gitlab-ci.yml, go.mod, go.sum, flake.nix, flake.lock
  dependency_scanning: any of: .gitlab-ci.yml, go.mod, go.sum, flake.nix, flake.lock
  goreleaser_check: any of: .gitlab-ci.yml, .goreleaser.yml
