Repository StackVista/stackstate-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_base_image, check_stackstate_api_up-to-date, license_scanning, dependency_scanning, goreleaser_check

.gitlab-ci.yml:

stages:
  - setup
  - check
  - deploy

nix_checksum:
  stage: .pre
  image: busybox:1.35.0
  artifacts:
    reports:
      dotenv: ci.env
  rules:
    - when: always
  script:
    - echo "NIX_CHECKSUM=$(cat flake.* | md5sum | awk '{print $1}')" >> ci.env

publish_base_image:
  stage: setup
  image: "nixos/nix:2.8.0"
  services:
    - name: docker:20.10.14-dind
  variables:
    NIX_CONFIG: "experimental-features = nix-command flakes"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    CI_BASE_IMAGE_PUSH: quay.io/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
  rules:
    - changes:
      - flake.lock
      - flake.nix
  script:
    - nix profile install nixpkgs#docker
    - echo "${quay_password}" | docker login --username=${quay_user} --password-stdin quay.io
    - nix build .#ci-image
    - docker load < result
    - docker tag stackstate-cli2-ci:latest $CI_BASE_IMAGE_PUSH
    - docker push $CI_BASE_IMAGE_PUSH

.go-base:
  image:
    name: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
    entrypoint: [""]
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOCACHE: $CI_PROJECT_DIR/.gocache
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script:
  cache:
    paths:
      - .go/pkg/mod/
      - .gocache
  tags:
    - sts-k8s-xl-runner

lint:
  extends: .go-base
  stage: check
  rules:
    - when: always
  script:
    - scripts/lint.sh

check_stackstate_api_up-to-date:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - stackstate_openapi/**
  script:
    - ./scripts/check_stackstate_api_up-to-date.sh

license_scanning:
  stage: check
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/license-finder:3"
  rules:
    - changes:
      - .gitlab-ci.yml
      - go.mod
      - go.sum
      - flake.nix
      - flake.lock
  variables:
    LM_REPORT_VERSION: '2.1'
  allow_failure: true
  script:
    - /run.sh analyze .
  artifacts:
    reports:
      license_scanning: gl-license-scanning-report.json

dependency_scanning:
  stage: check
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/gemnasium:2"
  rules:
    - changes:
      - .gitlab-ci.yml
      - go.mod
      - go.sum
      - flake.nix
      - flake.lock
  script:
    - /analyzer run
  allow_failure: true
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

goreleaser_check:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - .gitlab-ci.yml
      - .goreleaser.yml
  script:
    - goreleaser check

compile_test:
  extends: .go-base
  stage: check
  rules:
    - when: always
  script:
    - go test ./... -v

generate-release-notes:
  image:
    name: quay.io/stackstate/go-rk:v0.1.2
    entrypoint: ["/bin/sh"]
  stage: check
  script:
    - /go-rk release-notes --fix-version 5.0.0 --output-file release-notes.md
  variables:
    RK_JIRA_PROJECT: STAC
    RK_JIRA_URL: https://stackstate.atlassian.net
    RK_JIRA_USER: $jira_username
    RK_JIRA_TOKEN: $jira_token
  artifacts:
    paths:
      - release-notes.md

publish:
  stage: deploy
  extends: .go-base
  dependencies:
    - generate-release-notes
  services:
    - name: docker:20.10.14-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - scripts/publish.sh
  rules:
    - if: '$CI_COMMIT_TAG && $CI_COMMIT_TAG =~ /^v[0-9]*/'
      when: on_success
    - when: never

Added resource & permission filtering.
  cmd/rbac/rbac_describe_permissions.go
Due: none

Add rbac describe tests.
  cmd/rbac/rbac_describe_permissions_test.go
Due: none

Add rbac grant command.
  cmd/rbac.go
  cmd/rbac/flags.go
  cmd/rbac/rbac_describe_permissions.go
  cmd/rbac/rbac_grant_permissions.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_permissions.go
  generated/stackstate_api/docs/GrantPermission.md
  generated/stackstate_api/docs/PermissionsApi.md
  generated/stackstate_api/docs/RevokePermission.md
  generated/stackstate_api/model_grant_permission.go
  generated/stackstate_api/model_revoke_permission.go
Due: none

Made rbac grant command describe the subjects permissions.
  cmd/rbac.go
  cmd/rbac/flags.go
  cmd/rbac/rbac_create_subject.go
  cmd/rbac/rbac_grant_permissions.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_permissions.go
  generated/stackstate_api/api_subject.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/CreateSubject.md
  generated/stackstate_api/docs/PermissionsApi.md
  generated/stackstate_api/docs/SubjectApi.md
  generated/stackstate_api/docs/Version.md
  generated/stackstate_api/model_create_subject.go
  generated/stackstate_api/model_version.go
  internal/di/mock_stackstate_client.go
Due: none

Add rbac revoke command.
  cmd/rbac.go
  cmd/rbac/rbac_revoke_permissions.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_permissions.go
  generated/stackstate_api/docs/PermissionsApi.md
  generated/stackstate_api/docs/RevokePermission.md
  generated/stackstate_api/model_revoke_permission.go
Due: none

Move flag usage to the flags module.
  cmd/rbac/flags.go
  cmd/rbac/rbac_create_subject.go
  cmd/rbac/rbac_describe_permissions.go
  cmd/rbac/rbac_grant_permissions.go
  cmd/rbac/rbac_revoke_permissions.go
Due: none

Use backend-side filtering for permissions.
  cmd/rbac/rbac_describe_permissions.go
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_permissions.go
  generated/stackstate_api/docs/PermissionsApi.md
Due: none

Filter the results of granting/revoking permissions.
  cmd/rbac/rbac_describe_permissions.go
  cmd/rbac/rbac_grant_permissions.go
  cmd/rbac/rbac_revoke_permissions.go
Due: none

Fix rbac describe-permissions tests.
  cmd/rbac/rbac_describe_permissions.go
  cmd/rbac/rbac_describe_permissions_test.go
Due: none

Add rbac create-subject tests.
  cmd/rbac/rbac_create_subject_test.go
Due: none

Add rbac grant tests.
  cmd/rbac/rbac_describe_permissions_test.go
  cmd/rbac/rbac_grant_permissions_test.go
Due: none

Add sorting to the rbac describe-permissions for stable tests.
  cmd/rbac/rbac_describe_permissions.go
  cmd/rbac/rbac_describe_permissions_test.go
Due: none

Add rbac revoke tests.
  cmd/rbac/rbac_revoke_permissions_test.go
Due: none

Satisfy the naming convetion.
  cmd/rbac/rbac_grant.go
  cmd/rbac/rbac_grant_test.go
  cmd/rbac/rbac_revoke.go
  cmd/rbac/rbac_revoke_test.go
Due: none

STAC-17755 Bump openapi
  generated/stackstate_api/.openapi-generator/VERSION
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_metric.go
  generated/stackstate_api/api_node.go
  generated/stackstate_api/docs/MetricApi.md
  generated/stackstate_api/docs/NodeApi.md
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

Revert "STAC-17755 Bump openapi"
  generated/stackstate_api/.openapi-generator/VERSION
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_metric.go
  generated/stackstate_api/api_node.go
  generated/stackstate_api/docs/MetricApi.md
  generated/stackstate_api/docs/NodeApi.md
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-17755 Bump OpenAPI for metrics api changes
  generated/stackstate_api/.openapi-generator/VERSION
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_metric.go
  generated/stackstate_api/api_node.go
  generated/stackstate_api/docs/MetricApi.md
  generated/stackstate_api/docs/NodeApi.md
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

Regenerated the latest OpenAPI spec.
  generated/stackstate_api/.openapi-generator/VERSION
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_metric.go
  generated/stackstate_api/api_permissions.go
  generated/stackstate_api/docs/MetricApi.md
Due: none

Add subject description command.
  cmd/rbac.go
  cmd/rbac/rbac_describe_subjects.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_subject.go
  generated/stackstate_api/docs/SubjectApi.md
  generated/stackstate_api/docs/SubjectConfig.md
  generated/stackstate_api/model_subject_config.go
Due: none

Add subject description tests.
  cmd/rbac/rbac_describe_subjects_test.go
Due: none

Add subject delete command.
  cmd/rbac.go
  cmd/rbac/rbac_delete_subject.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_subject.go
  generated/stackstate_api/docs/SubjectApi.md
Due: none

Add subject delete & create tests.
  cmd/rbac/rbac_create_subject.go
  cmd/rbac/rbac_create_subject_test.go
  cmd/rbac/rbac_delete_subject_test.go
Due: none

New version of go-rk
  .github/workflows/ci.yml
Due: none

Add topic listing command.
  cmd/sts.go
  cmd/topic.go
  cmd/topic/topic_list.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_topic.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/Topic.md
  generated/stackstate_api/docs/TopicApi.md
  generated/stackstate_api/model_topic.go
Due: none

Add topic describe command
  cmd/topic.go
  cmd/topic/topic_describe.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_topic.go
  generated/stackstate_api/docs/Message.md
  generated/stackstate_api/docs/Messages.md
  generated/stackstate_api/docs/TopicApi.md
  generated/stackstate_api/model_message.go
  generated/stackstate_api/model_messages.go
Due: none

Add file IO to the topic describe command.
  cmd/topic/topic_describe.go
Due: none

STAC-17819: Show function Id
  cmd/monitor/monitor_list.go
  cmd/monitor/monitor_list_test.go
Due: none

Added topic list tests.
  cmd/topic/topic_list_test.go
  internal/di/mock_stackstate_client.go
Due: none

Added topic describe tests.
  cmd/topic/messages.json
  cmd/topic/topic_describe.go
  cmd/topic/topic_describe_test.go
Due: none

Refactor using common utils
  cmd/topic/topic_describe.go
Due: none

Add optional API version checking.
  cmd/topic/topic_describe.go
  go.mod
  go.sum
  internal/client/stackstate_version.go
  internal/common/common_cli_errors.go
  internal/common/exit_codes.go
  internal/common/persistent_flags.go
  internal/di/deps.go
  main.go
Due: license_scanning, dependency_scanning

Fix flag type of topology-matches
  cmd/health/health_status.go
Due: none

Add more tests for the minimum version check.
  internal/client/client_test.go
  internal/client/stackstate_version.go
Due: none

Mock API version for tests
  internal/di/mock_stackstate_client.go
Due: none

Set the default min supported version of each command to 5.0.0
  main.go
Due: none

Remove the 5.1.0 min supported version from topic describe.
  cmd/topic/topic_describe.go
Due: none

fix(nix): STAC-0 fix linker errors for x86_64-darwin arch
  flake.lock
  flake.nix
Due: publish_base_image, license_scanning, dependency_scanning

fix(nix): STAC-0 | fix flake.nix syntax to support nix 2.8
  flake.nix
Due: publish_base_image, license_scanning, dependency_scanning

fix(nix): STAC-0 | fix dev shell runtime for Darwin
  flake.nix
Due: publish_base_image, license_scanning, dependency_scanning

fix(nix): STAC-0 | fix dev shell for Darwin
  flake.lock
  flake.nix
Due: publish_base_image, license_scanning, dependency_scanning
