Repository StackVista/stackstate-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_base_image, check_stackstate_api_up-to-date, license_scanning, dependency_scanning, goreleaser_check

.gitlab-ci.yml:

stages:
  - setup
  - check
  - deploy

nix_checksum:
  stage: .pre
  image: busybox:1.35.0
  artifacts:
    reports:
      dotenv: ci.env
  rules:
    - when: always
  script:
    - echo "NIX_CHECKSUM=$(cat flake.* | md5sum | awk '{print $1}')" >> ci.env

publish_base_image:
  stage: setup
  image: "nixos/nix:2.8.0"
  services:
    - name: docker:20.10.14-dind
  variables:
    NIX_CONFIG: "experimental-features = nix-command flakes"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    CI_BASE_IMAGE_PUSH: quay.io/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
  rules:
    - changes:
      - flake.lock
      - flake.nix
  script:
    - nix profile install nixpkgs#docker
    - echo "${quay_password}" | docker login --username=${quay_user} --password-stdin quay.io
    - nix build .#ci-image
    - docker load < result
    - docker tag stackstate-cli2-ci:latest $CI_BASE_IMAGE_PUSH
    - docker push $CI_BASE_IMAGE_PUSH

.go-base:
  image:
    name: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
    entrypoint: [""]
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOCACHE: $CI_PROJECT_DIR/.gocache
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script:
  cache:
    paths:
      - .go/pkg/mod/
      - .gocache
  tags:
    - sts-k8s-xl-runner

lint:
  extends: .go-base
  stage: check
  rules:
    - when: always
  script:
    - scripts/lint.sh

check_stackstate_api_up-to-date:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - stackstate_openapi/**
  script:
    - ./scripts/check_stackstate_api_up-to-date.sh

license_scanning:
  stage: check
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/license-finder:3"
  rules:
    - changes:
      - .gitlab-ci.yml
      - go.mod
      - go.sum
      - flake.nix
      - flake.lock
  variables:
    LM_REPORT_VERSION: '2.1'
  allow_failure: true
  script:
    - /run.sh analyze .
  artifacts:
    reports:
      license_scanning: gl-license-scanning-report.json

dependency_scanning:
  stage: check
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/gemnasium:2"
  rules:
    - changes:
      - .gitlab-ci.yml
      - go.mod
      - go.sum
      - flake.nix
      - flake.lock
  script:
    - /analyzer run
  allow_failure: true
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

goreleaser_check:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - .gitlab-ci.yml
      - .goreleaser.yml
  script:
    - goreleaser check

compile_test:
  extends: .go-base
  stage: check
  rules:
    - when: always
  script:
    - go test ./... -v

generate-release-notes:
  image:
    name: quay.io/stackstate/go-rk:v0.1.2
    entrypoint: ["/bin/sh"]
  stage: check
  script:
    - /go-rk release-notes --fix-version 5.0.0 --output-file release-notes.md
  variables:
    RK_JIRA_PROJECT: STAC
    RK_JIRA_URL: https://stackstate.atlassian.net
    RK_JIRA_USER: $jira_username
    RK_JIRA_TOKEN: $jira_token
  artifacts:
    paths:
      - release-notes.md

publish:
  stage: deploy
  extends: .go-base
  dependencies:
    - generate-release-notes
  services:
    - name: docker:20.10.14-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - scripts/publish.sh
  rules:
    - if: '$CI_COMMIT_TAG && $CI_COMMIT_TAG =~ /^v[0-9]*/'
      when: on_success
    - when: never

STAC-16973: Return an empty body if no parameters specified
  cmd/stackpack/stackpack_install.go
  cmd/stackpack/stackpack_install_test.go
Due: none

point the most recent openAPI commit
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

regenerated files
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_component.go
  generated/stackstate_api/docs/ComponentApi.md
  generated/stackstate_api/docs/ComponentNotFoundError.md
  generated/stackstate_api/docs/InlineResponse200.md
  generated/stackstate_api/docs/LatestTelemetryStreamMetrics.md
  generated/stackstate_api/docs/LatestTelemetryStreamMetricsMetric.md
  generated/stackstate_api/docs/SingleMetric.md
  generated/stackstate_api/docs/TelemetryLatestSnapshotsResponse.md
  generated/stackstate_api/model_component_not_found_error.go
  generated/stackstate_api/model_inline_response_200.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics_metric.go
  generated/stackstate_api/model_single_metric.go
  generated/stackstate_api/model_telemetry_latest_snapshots_response.go
Due: none

regenerated files
  generated/stackstate_api/api_component.go
  generated/stackstate_api/model_component_not_found_error.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics.go
  generated/stackstate_api/model_single_metric.go
  generated/stackstate_api/model_telemetry_latest_snapshots_response.go
Due: none

STAC-16827 point the most recent openAPI commit
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_component.go
  generated/stackstate_api/docs/ComponentApi.md
  generated/stackstate_api/docs/ComponentNotFoundError.md
  generated/stackstate_api/docs/InlineResponse200.md
  generated/stackstate_api/docs/LatestTelemetryStreamMetrics.md
  generated/stackstate_api/docs/LatestTelemetryStreamMetricsMetric.md
  generated/stackstate_api/docs/SingleMetric.md
  generated/stackstate_api/docs/TelemetryLatestSnapshotsResponse.md
  generated/stackstate_api/model_component_not_found_error.go
  generated/stackstate_api/model_inline_response_200.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics_metric.go
  generated/stackstate_api/model_single_metric.go
  generated/stackstate_api/model_telemetry_latest_snapshots_response.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

port health status command
  cmd/health.go
  cmd/health/flags.go
  cmd/health/health_status.go
  cmd/health/health_status_test.go
Due: none

add test case
  cmd/health/health_status.go
  cmd/health/health_status_test.go
Due: none

remove sub-list command
  cmd/health.go
  cmd/health/health_list.go
  cmd/health/health_list_test.go
  cmd/health/health_sub_list.go
  cmd/health/health_sub_list_test.go
Due: none

restructure json output
  cmd/health/health_status.go
  cmd/health/health_status_test.go
Due: none

remove additional text from json output
  cmd/health/health_status.go
  cmd/health/health_status_test.go
  go.mod
  go.sum
  internal/util/map_util.go
Due: license_scanning, dependency_scanning

update list json output structure
  cmd/health/health_list.go
  cmd/health/health_list_test.go
Due: none

STAC-0 Fix collect feedback example command
  cmd/anomaly/anomaly_collect_feedback.go
Due: none

refactor health list command
  cmd/health/health_list.go
Due: none

refactor health status command
  cmd/health/health_status.go
Due: none

build(nix): bump distributed version to v2.0.0
  flake.nix
Due: publish_base_image, license_scanning, dependency_scanning

STAC-15290 port health command
  cmd/health.go
  cmd/health/flags.go
  cmd/health/health_clear_error.go
  cmd/health/health_clear_error_test.go
  cmd/health/health_delete.go
  cmd/health/health_delete_test.go
  cmd/health/health_list.go
  cmd/health/health_list_test.go
  cmd/health/health_status.go
  cmd/health/health_status_test.go
  cmd/sts.go
  go.mod
  go.sum
  internal/common/common_flags.go
  internal/util/map_util.go
Due: license_scanning, dependency_scanning

STAC-16951 - Incorporate Review comments
  internal/client/client.go
  internal/common/persistent_flags.go
  internal/config/config.go
  internal/config/config_test.go
  internal/util/list_util.go
Due: none

STAC-16951 - Incorporate Review comments v2
  internal/config/config.go
  internal/config/config_test.go
  internal/config/viper.go
  internal/di/deps.go
Due: none

STAC-16951 OpenApi hash
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_api_token.go
  generated/stackstate_api/api_component.go
  generated/stackstate_api/api_event.go
  generated/stackstate_api/api_export.go
  generated/stackstate_api/api_export_anomaly.go
  generated/stackstate_api/api_health_synchronization.go
  generated/stackstate_api/api_import.go
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/api_node.go
  generated/stackstate_api/api_relation.go
  generated/stackstate_api/api_scripting.go
  generated/stackstate_api/api_server.go
  generated/stackstate_api/api_service_token.go
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/api_topology_synchronization.go
  generated/stackstate_api/api_user_profile.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-16951 Added save context for k8-sa-token
  cmd/context/context_delete_test.go
  cmd/context/context_save.go
  cmd/context/context_save_test.go
  cmd/context/test_helper.go
  internal/client/client.go
  internal/config/config.go
Due: none

STAC-16951: Allow to override with different token type from env/commandline
  internal/config/config.go
  internal/config/config_test.go
Due: none

STAC-17390: Pass the path to the K8s ServiceAccount token
  internal/common/persistent_flags.go
  internal/config/config.go
  internal/config/load.go
  internal/config/viper.go
  internal/di/deps.go
  internal/kubernetes/token.go
Due: none

STAC-17390: Do not read K8sSAToken or its path from config
  cmd/context/context_save.go
  internal/config/config.go
  internal/config/config_test.go
Due: none

STAC-0: Fix linting
  cmd/anomaly/anomaly_collect_feedback_test.go
  cmd/cmd_rules_test.go
  cmd/context/context_save_test.go
  cmd/script/script_run_test.go
  cmd/settings/settings_apply_test.go
  cmd/settings/settings_describe_test.go
  cmd/stackpack/stackpack_upload_test.go
  internal/config/io.go
  internal/kubernetes/token.go
  internal/printer/printer.go
  internal/util/string_util.go
  main.go
  pkg/pflags/relative_time_flag.go
Due: none

STAC-0: Incorporate review comments
  cmd/context/context_save.go
  internal/config/load.go
Due: none

STAC-16998: Add tags to monitors
  cmd/monitor/monitor_list.go
  cmd/monitor/monitor_list_test.go
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/docs/Monitor.md
  generated/stackstate_api/model_monitor.go
  scripts/generate_stackstate_api.sh
  scripts/run_openapi_local.sh
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-17161 Add sudo to tar command. Add logic to handle custom instalation directory.
  scripts/publish/installers/install.sh
  scripts/publish/installers/uninstall.sh
Due: none

STAC-16998: Bump openapi version and regenerate
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_problem.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/CausingEventsAreNotAvailableForTheTime.md
  generated/stackstate_api/docs/CausingEventsResult.md
  generated/stackstate_api/docs/DataUnavailable.md
  generated/stackstate_api/docs/GetCausingEventsBadRequest.md
  generated/stackstate_api/docs/GetCausingEventsNotFound.md
  generated/stackstate_api/docs/GetCausingEventsResult.md
  generated/stackstate_api/docs/GetCausingEventsServiceUnaivailable.md
  generated/stackstate_api/docs/GetTopologyTimeout.md
  generated/stackstate_api/docs/LimitOutOfRange.md
  generated/stackstate_api/docs/ProblemApi.md
  generated/stackstate_api/docs/ProblemNotFound.md
  generated/stackstate_api/docs/TooManyActiveQueries.md
  generated/stackstate_api/docs/TooManyTopologyResults.md
  generated/stackstate_api/docs/TopologyTimeOutOfRange.md
  generated/stackstate_api/model_causing_events_are_not_available_for_the_time.go
  generated/stackstate_api/model_causing_events_result.go
  generated/stackstate_api/model_data_unavailable.go
  generated/stackstate_api/model_get_causing_events_bad_request.go
  generated/stackstate_api/model_get_causing_events_not_found.go
  generated/stackstate_api/model_get_causing_events_result.go
  generated/stackstate_api/model_get_causing_events_service_unaivailable.go
  generated/stackstate_api/model_get_topology_timeout.go
  generated/stackstate_api/model_limit_out_of_range.go
  generated/stackstate_api/model_problem_not_found.go
  generated/stackstate_api/model_too_many_active_queries.go
  generated/stackstate_api/model_too_many_topology_results.go
  generated/stackstate_api/model_topology_time_out_of_range.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-16998: Bump to master version of openapi
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-17515: Ensure the file contents for an export is truncated before writing
  cmd/settings/settings_describe.go
  internal/util/file_util.go
  internal/util/file_util_test.go
Due: none

STAC-17161 - Check if user has writing permissions in default location without sudo
  scripts/publish/installers/install.sh
Due: none

STAC-17161 Fix check regarding default location writting permission
  scripts/publish/installers/install.sh
Due: none

STAC-17161 Sudo will be used if the user doesn't have writting permission on the user provided location.
  scripts/publish/installers/install.sh
Due: none

STAC-16964: Add sts monitor edit and settings edit
  cmd/monitor.go
  cmd/monitor/common.go
  cmd/monitor/monitor_apply.go
  cmd/monitor/monitor_edit.go
  cmd/monitor/monitor_edit_test.go
  cmd/settings/impex.go
  cmd/settings/settings_apply.go
  cmd/settings/settings_describe.go
  cmd/settings/settings_edit.go
  go.mod
  go.sum
Due: license_scanning, dependency_scanning

STAC-16964: Upgrade to go 1.19 due to modules needing that
  go.mod
Due: license_scanning, dependency_scanning

STAC-17161 added aarch64 to the supported architectures but downloads arm binary
  scripts/publish/installers/install.sh
Due: none

STAC-0 : Updated GO from 1.17.7 to 1.19.1 / Updated golangci-lint from 1.45.2 to 1.49.0
  flake.lock
  flake.nix
Due: publish_base_image, license_scanning, dependency_scanning
