Repository StackVista/stackstate-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, license_scanning, dependency_scanning, goreleaser_check, compile_test

lint:
  image: ${GOLANGCI_LINT_IMAGE}
  stage: check
  script:
  - golangci-lint run

license_scanning:
  stage: check
  image: registry.gitlab.com/gitlab-org/security-products/analyzers/license-finder:3
  variables:
    LM_REPORT_VERSION: '2.1'
  allow_failure: true
  script:
  - /run.sh analyze .
  artifacts:
    reports:
      license_scanning: gl-license-scanning-report.json

dependency_scanning:
  stage: check
  image: registry.gitlab.com/gitlab-org/security-products/analyzers/gemnasium:2
  script:
  - /analyzer run
  allow_failure: true
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

goreleaser_check:
  image:
    name: ${GORELEASER_IMAGE}
    entrypoint:
    - ''
  variables:
    GOPATH: /go
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - /go/pkg/mod/
  stage: check
  script:
  - goreleaser check

compile_test:
  image:
    name: ${GORELEASER_IMAGE}
    entrypoint:
    - ''
  variables:
    GOPATH: /go
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - /go/pkg/mod/
  stage: check
  script:
  - go test ./...
  tags:
  - sts-k8s-xl-runner

WIP
  .gitlab-ci.yml
  README.md
Due: none

Update gitlab.yml to run publish on tags starting with v\d
  .gitlab-ci.yml
Due: none

STAC-15283 brew
  .gitlab-ci.yml
  .goreleaser.yml
  Makefile
  README.md
  STYLE.md
  go.mod
  go.sum
Due: lint, license_scanning, dependency_scanning, goreleaser_check, compile_test

Add missing table data msg
  .goreleaser.yml
  cmd/monitor/monitor_apply.go
  cmd/monitor/monitor_list.go
  cmd/monitor/monitor_status.go
  cmd/monitor/monitor_status_test.go
  cmd/root_execute.go
  cmd/settings/settings_apply.go
  cmd/settings/settings_apply_test.go
  cmd/settings/settings_list.go
  cmd/settings/settings_list_test.go
  cmd/settings/settings_list_types.go
  cmd/settings/settings_list_types_test.go
  cmd/stackpack/stackpack_list.go
  cmd/stackpack/stackpack_list_instance.go
  cmd/stackpack/stackpack_list_instance_test.go
  cmd/stackpack/stackpack_list_test.go
  cmd/stackpack/stackpack_upload.go
  cmd/stackpack/stackpack_upload_test.go
  cmd/version.go
  internal/common/messages.go
  internal/conf/rw_conf.go
  internal/printer/messages.go
  internal/printer/mock_printer.go
  internal/printer/printer.go
  internal/printer/printer_test.go
Due: lint, goreleaser_check, compile_test

STAC-16385: simplify openapi spec by using same type for timestamp & value
  internal/stackstate_client/api/openapi.yaml
  internal/stackstate_client/model_point_inner.go
  stackstate_openapi/spec/anomaly_feedback.xapi.yaml
Due: none

STAC-16360: Port stackpack install command
  cmd/stackpack.go
  cmd/stackpack/flags.go
  cmd/stackpack/stackpack_install.go
  cmd/stackpack/stackpack_install_test.go
  go.mod
  go.sum
  internal/stackstate_client/.openapi-generator/FILES
  internal/stackstate_client/README.md
  internal/stackstate_client/api/openapi.yaml
  internal/stackstate_client/api_stackpack.go
  internal/stackstate_client/docs/ProvisionResponse.md
  internal/stackstate_client/docs/StackpackApi.md
  internal/stackstate_client/model_provision_response.go
  stackstate_openapi/spec/api.yaml
  stackstate_openapi/spec/stackpack.xapi.yaml
Due: lint, license_scanning, dependency_scanning, compile_test

Refactor settings list to use common --json flag
  cmd/root_execute.go
  cmd/settings/settings_describe.go
  cmd/settings/settings_describe_test.go
  cmd/settings/settings_list.go
  cmd/settings/settings_list_test.go
  internal/common/common_flags.go
  internal/common/persistent_flags.go
  internal/printer/mock_printer.go
  internal/printer/printer.go
  internal/printer/printer_test.go
Due: lint, compile_test

Refactored a bunch of --json
  cmd/monitor/monitor_apply.go
  cmd/monitor/monitor_list.go
  cmd/monitor/monitor_status.go
  cmd/monitor/monitor_status_test.go
  cmd/settings/settings_list_test.go
  cmd/version.go
Due: lint, compile_test

Refactored settings apply to --json
  cmd/settings/settings_apply.go
  cmd/settings/settings_apply_test.go
Due: none

--json settings list types
  cmd/settings/settings_list_types.go
  cmd/settings/settings_list_types_test.go
Due: none

Rewrite 'stackpack install' to --json and add some more test depth
  cmd/stackpack/stackpack_install.go
  cmd/stackpack/stackpack_install_test.go
  go.mod
  go.sum
Due: lint, license_scanning, dependency_scanning, compile_test

--json for stackpack list instances
  cmd/stackpack/stackpack_list_instance.go
  cmd/stackpack/stackpack_list_instance_test.go
Due: none

Remove --json from stackpack upload
  cmd/stackpack/stackpack_list.go
  cmd/stackpack/stackpack_list_test.go
  cmd/stackpack/stackpack_upload.go
  cmd/stackpack/stackpack_upload_test.go
Due: none

Remove initialism linter bullshait
  .golangci.yml
  cmd/root_execute.go
Due: lint, compile_test

Add test to check commands exist as files and dirs
  cmd/cli.go
  cmd/generic_rules_test.go
  cmd/stackpack/stackpack_list_instances.go
  cmd/stackpack/stackpack_list_instances_test.go
Due: lint, compile_test

STAC-16385: complete merge by re-generating stackstate_client
  internal/stackstate_client/.openapi-generator/FILES
  internal/stackstate_client/README.md
  internal/stackstate_client/api/openapi.yaml
  internal/stackstate_client/api_monitor.go
  internal/stackstate_client/api_monitor_urn.go
  internal/stackstate_client/api_stackpack.go
  internal/stackstate_client/docs/HealthStreamMetrics1.md
  internal/stackstate_client/docs/HealthStreamStatus1.md
  internal/stackstate_client/docs/HealthSubStreamStatus1.md
  internal/stackstate_client/docs/Monitor1.md
  internal/stackstate_client/docs/MonitorApi.md
  internal/stackstate_client/docs/MonitorStatus1.md
  internal/stackstate_client/docs/MonitorUrnApi.md
  internal/stackstate_client/docs/StackpackApi.md
  internal/stackstate_client/docs/StackpackConfigurationsInner.md
  internal/stackstate_client/model_health_stream_metrics_1.go
  internal/stackstate_client/model_health_stream_status_1.go
  internal/stackstate_client/model_health_sub_stream_status_1.go
  internal/stackstate_client/model_monitor.go
  internal/stackstate_client/model_monitor_1.go
  internal/stackstate_client/model_monitor_status_1.go
  internal/stackstate_client/model_provision_response.go
  internal/stackstate_client/model_stackpack_configurations_inner.go
Due: none

Make CMD_DEVELOPMENT.md and add rule about machine output
  CMD_DEVELOPMENT.md
  README.md
Due: none

Force PrintJson to take an object
  cmd/monitor/monitor_status_test.go
  cmd/root_execute.go
  cmd/settings/settings_apply_test.go
  cmd/settings/settings_list_test.go
  cmd/settings/settings_list_types_test.go
  cmd/stackpack/stackpack_install_test.go
  cmd/stackpack/stackpack_list_instances_test.go
  cmd/stackpack/stackpack_list_test.go
  cmd/stackpack/stackpack_upload_test.go
  internal/printer/mock_printer.go
  internal/printer/printer.go
  internal/printer/printer_test.go
Due: lint, compile_test

Added some tests to the root 'sts' command
  cmd/root.go
  cmd/sts.go
  cmd/sts_test.go
  cmd/style_rules_test.go
  internal/common/exit_codes.go
Due: lint, compile_test

Get rid of NewCliError in favor of specific functions
  cmd/cli/cli_save_config.go
  cmd/script/script_execute.go
  cmd/settings/settings_apply.go
  cmd/settings/settings_describe.go
  cmd/sts.go
  internal/common/cli_errors.go
  internal/common/exit_codes.go
Due: lint, compile_test

Fix linting errors
  .golangci.yml
  cmd/monitor/monitor_apply_test.go
  cmd/monitor/monitor_delete_test.go
  cmd/monitor/monitor_list_test.go
  cmd/monitor/monitor_run_test.go
  cmd/settings/settings_describe.go
  cmd/sts.go
  cmd/sts_test.go
  cmd/style_rules_test.go
  internal/di/command_test_util.go
  internal/printer/mock_printer.go
  internal/printer/printer.go
Due: lint, compile_test

Make execute in 'sts.go' smaller
  .golangci.yml
  cmd/sts.go
Due: lint, compile_test

Add test to PrintErrJson
  cmd/sts.go
  internal/printer/printer_test.go
Due: lint, compile_test

Add verbose logging to test
  .gitlab-ci.yml
Due: none

Fix sts tests (required config)
  cmd/sts.go
  cmd/sts_test.go
  internal/di/deps.go
Due: lint, compile_test

Move execute from sts.go to main.go with tests and ldlflags
  .goreleaser.yml
  cmd/sts.go
  cmd/sts_test.go
  cmd/version.go
  internal/conf/conf.go
  internal/conf/rw_conf_test.go
  internal/di/deps.go
  internal/di/mock_deps.go
  main.go
  main_test.go
  static_info.go
Due: lint, goreleaser_check, compile_test

Fix ldlflags and make ReadConfError a CLIError
  internal/common/cli_errors.go
  internal/conf/rw_conf.go
  main.go
  static_info.go
Due: none

Split CLIError and the common cli errors
  internal/common/cli_error.go
  internal/common/common_cli_errors.go
  internal/common/mutex_flags_test.go
Due: none

Fix test connect and save config after refactorings
  cmd/cli/cli_save_config.go
  cmd/cli/cli_save_config_test.go
  cmd/cli/cli_test_connect.go
  cmd/cli/common.go
  cmd/cli/test_connect.go
  internal/di/deps.go
  internal/di/stackstate_version.go
Due: none

Test that json printing does not also accidentally prints other strings
  cmd/cli/cli_save_config_test.go
  cmd/cli/cli_test_connect_test.go
  cmd/monitor/monitor_status_test.go
  cmd/script/script_execute_test.go
  cmd/settings/settings_apply_test.go
  cmd/settings/settings_describe_test.go
  cmd/settings/settings_list_types_test.go
  cmd/stackpack/stackpack_install_test.go
  cmd/stackpack/stackpack_list_instances_test.go
  cmd/stackpack/stackpack_list_test.go
  cmd/stackpack/stackpack_upload_test.go
  internal/printer/mock_printer.go
Due: none

Polish for json output for settings list and describe
  cmd/settings/settings_describe.go
  cmd/settings/settings_describe_test.go
  cmd/settings/settings_list.go
  cmd/settings/settings_list_test.go
Due: none

Fix lint errors
  cmd/settings/settings_describe_test.go
  internal/conf/rw_conf.go
  internal/conf/rw_conf_test.go
  internal/di/deps.go
  main.go
  main_test.go
Due: none

STAC-16459 Nix pinned packages in CI
  .gitlab-ci.yml
  flake.nix
Due: lint, license_scanning, dependency_scanning, compile_test

Remove 'api-url' config parameter and replace with 'url' and 'api-path' for easy of use
  cmd/cli/cli_save_config.go
  cmd/cli/cli_save_config_test.go
  cmd/cli/cli_test_connect.go
  internal/common/persistent_flags.go
  internal/conf/conf.go
  internal/conf/rw_conf_test.go
  internal/di/deps.go
Due: none

Move StackStateClient to its own package
  cmd/cli/common.go
  internal/di/deps.go
  internal/stackstate_client/stackstate_client.go
  internal/stackstate_client/stackstate_client_test.go
  internal/stackstate_client/stackstate_version.go
Due: none

Move code for creating a new stackstate client from di to stackstate_client package
  cmd/cli/cli_describe_config_test.go
  cmd/cli/cli_test_connect_test.go
  cmd/script/script_execute_test.go
  internal/common/common_cli_errors.go
  internal/conf/conf.go
  internal/conf/rw_conf_test.go
  internal/conf/validate_conf.go
  internal/di/deps.go
  internal/stackstate_client/stackstate_client.go
  internal/stackstate_client/stackstate_client_test.go
Due: none

Path conditions:
  lint: any of: go.mod, go.sum, flake.lock, flake.nix, cmd/**, internal/**
  license_scanning: any of: go.mod, go.sum, flake.nix, flake.lock
  dependency_scanning: any of: go.mod, go.sum, flake.nix, flake.lock
  goreleaser_check: any of: .goreleaser.yml
  compile_test: any of: go.mod, go.sum, flake.lock, flake.nix, cmd/**, internal/**
