Repository StackVista/stackstate-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_base_image, check_stackstate_api_up-to-date, license_scanning, dependency_scanning, goreleaser_check

.gitlab-ci.yml:

stages:
  - setup
  - check
  - deploy

nix_checksum:
  stage: .pre
  image: busybox:1.35.0
  artifacts:
    reports:
      dotenv: ci.env
  rules:
    - when: always
  script:
    - echo "NIX_CHECKSUM=$(cat flake.* | md5sum | awk '{print $1}')" >> ci.env

publish_base_image:
  stage: setup
  image: "nixos/nix:2.8.0"
  services:
    - name: docker:20.10.14-dind
  variables:
    NIX_CONFIG: "experimental-features = nix-command flakes"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    CI_BASE_IMAGE_PUSH: quay.io/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
  rules:
    - changes:
      - flake.lock
      - flake.nix
  script:
    - nix profile install nixpkgs#docker
    - echo "${quay_password}" | docker login --username=${quay_user} --password-stdin quay.io
    - nix build .#ci-image
    - docker load < result
    - docker tag stackstate-cli2-ci:latest $CI_BASE_IMAGE_PUSH
    - docker push $CI_BASE_IMAGE_PUSH

.go-base:
  image:
    name: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
    entrypoint: [""]
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOCACHE: $CI_PROJECT_DIR/.gocache
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script:
  cache:
    paths:
      - .go/pkg/mod/
      - .gocache
  tags:
    - sts-k8s-xl-runner

lint:
  extends: .go-base
  stage: check
  rules:
    - when: always
  script:
    - scripts/lint.sh

check_stackstate_api_up-to-date:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - stackstate_openapi/**
  script:
    - ./scripts/check_stackstate_api_up-to-date.sh

license_scanning:
  stage: check
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/license-finder:3"
  rules:
    - changes:
      - .gitlab-ci.yml
      - go.mod
      - go.sum
      - flake.nix
      - flake.lock
  variables:
    LM_REPORT_VERSION: '2.1'
  allow_failure: true
  script:
    - /run.sh analyze .
  artifacts:
    reports:
      license_scanning: gl-license-scanning-report.json

dependency_scanning:
  stage: check
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/gemnasium:2"
  rules:
    - changes:
      - .gitlab-ci.yml
      - go.mod
      - go.sum
      - flake.nix
      - flake.lock
  script:
    - /analyzer run
  allow_failure: true
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

goreleaser_check:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - .gitlab-ci.yml
      - .goreleaser.yml
  script:
    - goreleaser check

compile_test:
  extends: .go-base
  stage: check
  rules:
    - when: always
  script:
    - go test ./... -v

generate-release-notes:
  image:
    name: quay.io/stackstate/go-rk:v0.1.2
    entrypoint: ["/bin/sh"]
  stage: check
  script:
    - /go-rk release-notes --fix-version 5.0.0 --output-file release-notes.md
  variables:
    RK_JIRA_PROJECT: STAC
    RK_JIRA_URL: https://stackstate.atlassian.net
    RK_JIRA_USER: $jira_username
    RK_JIRA_TOKEN: $jira_token
  artifacts:
    paths:
      - release-notes.md

publish:
  stage: deploy
  extends: .go-base
  dependencies:
    - generate-release-notes
  services:
    - name: docker:20.10.14-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - scripts/publish.sh
  rules:
    - if: '$CI_COMMIT_TAG && $CI_COMMIT_TAG =~ /^v[0-9]*/'
      when: on_success
    - when: never

STAC-17629: Display monitor runtime metrics
  cmd/monitor/monitor_status.go
  cmd/monitor/monitor_status_test.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/docs/MonitorMetrics.md
  generated/stackstate_api/docs/MonitorRuntimeMetrics.md
  generated/stackstate_api/model_monitor_metrics.go
  generated/stackstate_api/model_monitor_runtime_metrics.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-17629: Fix pipeline issues
  cmd/monitor/monitor_status.go
  cmd/monitor/monitor_status_test.go
Due: none

STAC-16964: Incorporate review comments
  cmd/monitor/monitor_edit.go
  cmd/settings.go
  cmd/settings/settings_edit.go
  cmd/settings/settings_edit_test.go
  internal/di/deps.go
  internal/di/mock_deps.go
  internal/editor/editor.go
  internal/editor/testing.go
Due: none

STAC-17629: Bump to master openapi version
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-17687: Publish release-notes to s3 bucket
  .gitlab-ci.yml
  .goreleaser.yml
Due: license_scanning, dependency_scanning, goreleaser_check

STAC-15296: Added license commands
  cmd/license.go
  cmd/license/common.go
  cmd/license/license_show.go
  cmd/license/license_show_test.go
  cmd/license/license_update.go
  cmd/license/license_update_test.go
  cmd/sts.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_subscription.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/ExpiredSubscription.md
  generated/stackstate_api/docs/LicensedSubscription.md
  generated/stackstate_api/docs/NewLicense.md
  generated/stackstate_api/docs/Subscription.md
  generated/stackstate_api/docs/SubscriptionApi.md
  generated/stackstate_api/docs/SubscriptionState.md
  generated/stackstate_api/docs/UnlicensedSubscription.md
  generated/stackstate_api/model_expired_subscription.go
  generated/stackstate_api/model_licensed_subscription.go
  generated/stackstate_api/model_new_license.go
  generated/stackstate_api/model_subscription.go
  generated/stackstate_api/model_subscription_state.go
  generated/stackstate_api/model_unlicensed_subscription.go
  internal/di/mock_stackstate_client.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-0: Fix monitor date/time conversion error
  cmd/monitor/monitor_status.go
Due: none

STAC-15296: Latest openapi version
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-0: Fix nil when editing
  main.go
Due: none

Added a stuf of GitHub actions CI.
  .github/workflows/ci.yml
Due: none

Added Nix checksum computation.
  .github/workflows/ci.yml
Due: none

Point the CI at main instead of master.
  .github/workflows/ci.yml
Due: none

Reorganize the CI workflow slightly.
  .github/workflows/ci.yml
Due: none

STAC-17794 Update CLI to latest openAPI spec
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_query.go
  generated/stackstate_api/docs/DataResult.md
  generated/stackstate_api/docs/Exemplar.md
  generated/stackstate_api/docs/ExemplarData.md
  generated/stackstate_api/docs/ExemplarEnvelope.md
  generated/stackstate_api/docs/QueryApi.md
  generated/stackstate_api/docs/ValueTuple.md
  generated/stackstate_api/docs/VectorResult.md
  generated/stackstate_api/model_data_result.go
  generated/stackstate_api/model_exemplar.go
  generated/stackstate_api/model_exemplar_data.go
  generated/stackstate_api/model_exemplar_envelope.go
  generated/stackstate_api/model_value_tuple.go
  generated/stackstate_api/model_vector_result.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

Publish CI docker image.
  .github/workflows/ci.yml
Due: none

Point the docker to quay.io
  .github/workflows/ci.yml
Due: none

Run Nix directly in CI
  .github/workflows/ci.yml
Due: none

Add docker login when publishing the CI image.
  .github/workflows/ci.yml
Due: none

Add job dependencies to the CI.
  .github/workflows/ci.yml
Due: none

Pass the CI image tag to the subsequent jobs.
  .github/workflows/ci.yml
Due: none

Try to prefix built image with the registry
  .github/workflows/ci.yml
Due: none

No need to change the workdir.
  .github/workflows/ci.yml
Due: none

Add image caching, not to rebuild it all the time.
  .github/workflows/ci.yml
Due: none

Map the repo to the CI image workspace.
  .github/workflows/ci.yml
Due: none

Disable Open API check for now.
  .github/workflows/ci.yml
Due: none

Abstract CI image into a separate action.
  .github/actions/gobase/action.yml
  .github/workflows/ci.yml
Due: none

Ensure that goreleaser can access the repo.
  .github/actions/gobase/action.yml
Due: none

STAC-17794 - Update OpenApi again
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/docs/Exemplar.md
  generated/stackstate_api/docs/ExemplarData.md
  generated/stackstate_api/docs/ExemplarEnvelope.md
  generated/stackstate_api/docs/VectorResult.md
  generated/stackstate_api/model_data.go
  generated/stackstate_api/model_exemplar.go
  generated/stackstate_api/model_exemplar_data.go
  generated/stackstate_api/model_exemplar_envelope.go
  generated/stackstate_api/model_vector_result.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

Add job timeout to prevent linter hangs.
  .github/workflows/ci.yml
Due: none

Add license scan step.
  .github/workflows/ci.yml
Due: none

Split jobs that can run in parallel
  .github/workflows/ci.yml
Due: none

Pass the report version to the scanner
  .github/workflows/ci.yml
Due: none

Add gemnasium dependency scan job.
  .github/workflows/ci.yml
Due: none

Make sure that license & deps scanner jobs are optional.
  .github/workflows/ci.yml
Due: none

Fix running unit tests
  .github/actions/gobase/action.yml
  .github/workflows/ci.yml
  scripts/test.sh
Due: none

STAC-14719: Create enable/disable monitor commands
  cmd/monitor.go
  cmd/monitor/monitor_apply.go
  cmd/monitor/monitor_disable.go
  cmd/monitor/monitor_disable_test.go
  cmd/monitor/monitor_edit.go
  cmd/monitor/monitor_enable.go
  cmd/monitor/monitor_enable_test.go
  cmd/monitor/monitor_list.go
  cmd/monitor/monitor_list_test.go
  cmd/monitor/monitor_status.go
  cmd/monitor/monitor_status_test.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/api_query.go
  generated/stackstate_api/docs/DataResult.md
  generated/stackstate_api/docs/Monitor.md
  generated/stackstate_api/docs/MonitorApi.md
  generated/stackstate_api/docs/MonitorMetrics.md
  generated/stackstate_api/docs/MonitorStatus.md
  generated/stackstate_api/docs/QueryApi.md
  generated/stackstate_api/docs/ValueTuple.md
  generated/stackstate_api/docs/VectorResult.md
  generated/stackstate_api/model_data_result.go
  generated/stackstate_api/model_monitor.go
  generated/stackstate_api/model_monitor_metrics.go
  generated/stackstate_api/model_monitor_status.go
  generated/stackstate_api/model_value_tuple.go
  generated/stackstate_api/model_vector_result.go
Due: none

STAC-14719: Add monitor enable and disable commands. Update monitor status
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/docs/MonitorStatusNotFoundError.md
  generated/stackstate_api/docs/MonitorStatusNotFoundErrorAllOf.md
  generated/stackstate_api/model_monitor_status_not_found_error.go
  generated/stackstate_api/model_monitor_status_not_found_error_all_of.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

Add publishing on tag push.
  .github/workflows/ci.yml
Due: none

Remove GitLab CI config.
  .gitlab-ci.yml
Due: license_scanning, dependency_scanning, goreleaser_check
