Repository StackVista/stackstate-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_base_image, check_stackstate_api_up-to-date, license_scanning, dependency_scanning, goreleaser_check

publish_base_image:
  stage: setup
  image: nixos/nix:2.8.0
  services:
  - name: docker:20.10.14-dind
  variables:
    NIX_CONFIG: experimental-features = nix-command flakes
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
  ...

check_stackstate_api_up-to-date:
  image:
    name: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
    entrypoint:
    - ''
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOCACHE: $CI_PROJECT_DIR/.gocache
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - .go/pkg/mod/
    - .gocache
  ...

license_scanning:
  stage: check
  image: registry.gitlab.com/gitlab-org/security-products/analyzers/license-finder:3
  variables:
    LM_REPORT_VERSION: '2.1'
  allow_failure: true
  script:
  - /run.sh analyze .
  artifacts:
    reports:
      license_scanning: gl-license-scanning-report.json

dependency_scanning:
  stage: check
  image: registry.gitlab.com/gitlab-org/security-products/analyzers/gemnasium:2
  script:
  - /analyzer run
  allow_failure: true
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

goreleaser_check:
  image:
    name: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
    entrypoint:
    - ''
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOCACHE: $CI_PROJECT_DIR/.gocache
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - .go/pkg/mod/
    - .gocache
  ...

STAC-23385: Use Yaml version of the conf
  cmd/stackpack/stackpack_package.go
  cmd/stackpack/stackpack_package_test.go
  cmd/stackpack/stackpack_test_cmd.go
  cmd/stackpack/stackpack_test_cmd_test.go
  cmd/stackpack/test-stackpack-1.0.0-cli-test.10000.zip
Due: none

STAC-23385: Drop the HOCON parser
  cmd/stackpack/stackpack_package.go
  cmd/stackpack/stackpack_package_test.go
  cmd/stackpack/stackpack_test_cmd_test.go
  flake.lock
  flake.nix
Due: publish_base_image, license_scanning, dependency_scanning

STAC-23911 Update to go 1.24.9
  go.mod
  go.sum
Due: license_scanning, dependency_scanning

Use yaml for dashboard interactions instead of json More user friendly and matches the behavior we have for the `settings` command.
  .gitignore
  cmd/dashboard/dashboard_apply.go
  cmd/dashboard/dashboard_apply_test.go
  cmd/dashboard/dashboard_describe.go
  cmd/dashboard/dashboard_describe_test.go
  cmd/dashboard/dashboard_edit.go
  cmd/dashboard/dashboard_edit_test.go
Due: none

STAC-23271 Remove dashboard feature flag
  cmd/sts.go
  cmd/sts_test.go
Due: none

STAC-23271 Fix yaml parsing
  cmd/dashboard/dashboard_describe.go
  cmd/dashboard/dashboard_edit.go
Due: none

STAC-23271 Remove unused const
  cmd/sts_test.go
Due: none

STAC-24106: Pin the openapi generator to the version we used to have before the update of the flake.nix file
  flake.lock
  flake.nix
  generated/stackstate_api/api_agent_leases.go
  generated/stackstate_api/api_agent_registrations.go
  generated/stackstate_api/api_api_token.go
  generated/stackstate_api/api_component.go
  generated/stackstate_api/api_dashboards.go
  generated/stackstate_api/api_dummy.go
  generated/stackstate_api/api_event.go
  generated/stackstate_api/api_export.go
  generated/stackstate_api/api_health_synchronization.go
  generated/stackstate_api/api_import.go
  generated/stackstate_api/api_kubernetes_logs.go
  generated/stackstate_api/api_layout.go
  generated/stackstate_api/api_metric.go
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/api_monitor_check_status.go
  generated/stackstate_api/api_node.go
  generated/stackstate_api/api_notification_channels.go
  generated/stackstate_api/api_notification_configurations.go
  generated/stackstate_api/api_otel_mapping.go
  generated/stackstate_api/api_permissions.go
  generated/stackstate_api/api_problem.go
  generated/stackstate_api/api_scripting.go
  generated/stackstate_api/api_server.go
  generated/stackstate_api/api_service_token.go
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/api_subject.go
  generated/stackstate_api/api_subscription.go
  generated/stackstate_api/api_system_notifications.go
  generated/stackstate_api/api_timeline.go
  generated/stackstate_api/api_topic.go
  generated/stackstate_api/api_topology_synchronization.go
  generated/stackstate_api/api_traces.go
  generated/stackstate_api/api_user_authorization.go
  generated/stackstate_api/api_user_profile.go
  generated/stackstate_api/api_user_session.go
Due: publish_base_image, license_scanning, dependency_scanning

STAC-23880: change stackpack package extension from .zip to .sts
  cmd/stackpack/stackpack_package.go
  cmd/stackpack/stackpack_package_test.go
  cmd/stackpack/stackpack_test_cmd.go
  cmd/stackpack/test-stackpack-1.0.0-cli-test.10000.zip
Due: none

STAC-24194: Add cli options to distinguish subjects and permissions by source
  cmd/rbac/rbac_describe_permissions.go
  cmd/rbac/rbac_describe_permissions_test.go
  cmd/rbac/rbac_grant.go
  cmd/rbac/rbac_revoke.go
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/docs/PermissionDescription.md
  generated/stackstate_api/model_permission_description.go
  internal/common/common_cli_errors.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-24194: Fix linting
  cmd/rbac/rbac_describe_permissions_test.go
  cmd/rbac/rbac_describe_subjects_test.go
Due: none

STAC-24007: Fix tests
  cmd/graph/graph_retention.go
  cmd/health/health_clear_error.go
  cmd/sts_test.go
Due: none

STAC-24049: add crud commands for otel component|relation mappings
  cmd/otelcomponentmapping.go
  cmd/otelcomponentmapping/otelcomponentmapping_apply.go
  cmd/otelcomponentmapping/otelcomponentmapping_apply_test.go
  cmd/otelcomponentmapping/otelcomponentmapping_delete.go
  cmd/otelcomponentmapping/otelcomponentmapping_delete_test.go
  cmd/otelcomponentmapping/otelcomponentmapping_describe.go
  cmd/otelcomponentmapping/otelcomponentmapping_describe_test.go
  cmd/otelcomponentmapping/otelcomponentmapping_edit.go
  cmd/otelcomponentmapping/otelcomponentmapping_edit_test.go
  cmd/otelcomponentmapping/otelcomponentmapping_list.go
  cmd/otelcomponentmapping/otelcomponentmapping_list_test.go
  cmd/otelcomponentmapping/otelcomponentmapping_status.go
  cmd/otelrelationmapping.go
  cmd/otelrelationmapping/otelrelationmapping_apply.go
  cmd/otelrelationmapping/otelrelationmapping_apply_test.go
  cmd/otelrelationmapping/otelrelationmapping_delete.go
  cmd/otelrelationmapping/otelrelationmapping_delete_test.go
  cmd/otelrelationmapping/otelrelationmapping_describe.go
  cmd/otelrelationmapping/otelrelationmapping_describe_test.go
  cmd/otelrelationmapping/otelrelationmapping_edit.go
  cmd/otelrelationmapping/otelrelationmapping_edit_test.go
  cmd/otelrelationmapping/otelrelationmapping_list.go
  cmd/otelrelationmapping/otelrelationmapping_list_test.go
  cmd/otelrelationmapping/otelrelationmapping_status.go
  cmd/stackpack/test-stackpack-1.0.0-cli-test.10000.sts
  cmd/sts.go
  generated/stackstate_admin_api/api_retention.go
Due: none

STAC-24049: resolve conflicts
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/docs/OtelComponentMapping.md
  generated/stackstate_api/docs/OtelRelationMapping.md
  generated/stackstate_api/model_otel_component_mapping.go
  generated/stackstate_api/model_otel_relation_mapping.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-24049: fix dashboard describe json output
  cmd/dashboard/dashboard_describe.go
Due: none

STAC-24049: remove test stackpack
  cmd/stackpack/test-stackpack-1.0.0-cli-test.10000.sts
Due: none

STAC-24049: process feedback
  cmd/otelcomponentmapping/otelcomponentmapping_apply.go
  cmd/otelcomponentmapping/otelcomponentmapping_delete.go
  cmd/otelcomponentmapping/otelcomponentmapping_describe.go
  cmd/otelcomponentmapping/otelcomponentmapping_edit.go
  cmd/otelcomponentmapping/otelcomponentmapping_list.go
  cmd/otelcomponentmapping/otelcomponentmapping_status.go
  cmd/otelrelationmapping/otelrelationmapping_apply.go
  cmd/otelrelationmapping/otelrelationmapping_delete.go
  cmd/otelrelationmapping/otelrelationmapping_describe.go
  cmd/otelrelationmapping/otelrelationmapping_edit.go
  cmd/otelrelationmapping/otelrelationmapping_list.go
  cmd/otelrelationmapping/otelrelationmapping_status.go
  generated/stackstate_admin_api/api_retention.go
Due: none

STAC-24049: process feedback
  cmd/otelcomponentmapping/otelcomponentmapping_delete.go
  cmd/otelcomponentmapping/otelcomponentmapping_describe.go
  cmd/otelcomponentmapping/otelcomponentmapping_edit.go
  cmd/otelrelationmapping/otelrelationmapping_delete.go
  cmd/otelrelationmapping/otelrelationmapping_describe.go
  cmd/otelrelationmapping/otelrelationmapping_edit.go
Due: none

STAC-24232 Rename stackpack `test` command to `test-deploy`
  cmd/stackpack.go
  cmd/stackpack/stackpack_test_deploy_cmd.go
  cmd/stackpack/stackpack_test_deploy_cmd_test.go
  cmd/stackpack_test.go
Due: none

STAC-24149: add topology inspect cmd
  .gitignore
  cmd/sts.go
  cmd/sts_test.go
  cmd/topology.go
  cmd/topology/topology_inspect.go
  cmd/topology/topology_inspect_test.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_main_menu.go
  generated/stackstate_api/api_snapshot.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/MainMenuApi.md
  generated/stackstate_api/docs/MainMenuGroup.md
  generated/stackstate_api/docs/MainMenuViewItem.md
  generated/stackstate_api/docs/QueryMetadata.md
  generated/stackstate_api/docs/QueryParsingFailure.md
  generated/stackstate_api/docs/QuerySnapshotResult.md
  generated/stackstate_api/docs/SnapshotApi.md
  generated/stackstate_api/docs/ViewSnapshotRequest.md
  generated/stackstate_api/model_main_menu_group.go
  generated/stackstate_api/model_main_menu_view_item.go
  generated/stackstate_api/model_query_metadata.go
  generated/stackstate_api/model_query_parsing_failure.go
  generated/stackstate_api/model_query_snapshot_result.go
  generated/stackstate_api/model_view_snapshot_request.go
  internal/di/mock_stackstate_client.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-24149: process feedback
  cmd/topology/topology_inspect.go
  cmd/topology/topology_inspect_test.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_snapshot.go
  generated/stackstate_api/docs/QuerySnapshotResult.md
  generated/stackstate_api/docs/SnapshotApi.md
  generated/stackstate_api/docs/SnapshotRequest.md
  generated/stackstate_api/model_query_snapshot_result.go
  generated/stackstate_api/model_snapshot_request.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-24149: bump openapi version
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-23918: include icons and includes folders
  cmd/stackpack/stackpack_package.go
Due: none

STAC-23918: move settings to top-level in stackpacks
  cmd/stackpack/stackpack_package.go
  cmd/stackpack/stackpack_package_test.go
Due: none

STAC-0: build images not manifests
  .goreleaser.yml
Due: goreleaser_check

STAC-24007: Clean up after a test function
  cmd/stackpack/stackpack_test_deploy_cmd_test.go
Due: none

STAC-24007: small fix
  AGENTS.md
  cmd/dashboard/dashboard_clone.go
Due: none

Add renovate.json
  renovate.json
Due: none

STAC-24174: add stackpack validate command
  cmd/stackpack.go
  cmd/stackpack/stackpack_validate.go
  cmd/stackpack/stackpack_validate_test.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/EventComponent.md
  generated/stackstate_api/docs/EventElement.md
  generated/stackstate_api/docs/FullComponent.md
  generated/stackstate_api/docs/MainMenuGroup.md
  generated/stackstate_api/docs/MainMenuViewItem.md
  generated/stackstate_api/docs/MonitorCheckStatusComponent.md
  generated/stackstate_api/docs/PresentationDefinition.md
  generated/stackstate_api/docs/PresentationMainMenu.md
  generated/stackstate_api/docs/StackpackApi.md
  generated/stackstate_api/model_event_component.go
  generated/stackstate_api/model_full_component.go
  generated/stackstate_api/model_main_menu_group.go
  generated/stackstate_api/model_main_menu_view_item.go
  generated/stackstate_api/model_monitor_check_status_component.go
  generated/stackstate_api/model_presentation_definition.go
  generated/stackstate_api/model_presentation_main_menu.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-24174: make validate take a file to validate
  cmd/stackpack/stackpack_validate.go
  cmd/stackpack/stackpack_validate_test.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/StackpackApi.md
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-24174: add stackpack validate command (#137)
  cmd/stackpack.go
  cmd/stackpack/stackpack_validate.go
  cmd/stackpack/stackpack_validate_test.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/EventComponent.md
  generated/stackstate_api/docs/EventElement.md
  generated/stackstate_api/docs/FullComponent.md
  generated/stackstate_api/docs/MainMenuGroup.md
  generated/stackstate_api/docs/MainMenuViewItem.md
  generated/stackstate_api/docs/MonitorCheckStatusComponent.md
  generated/stackstate_api/docs/PresentationDefinition.md
  generated/stackstate_api/docs/PresentationMainMenu.md
  generated/stackstate_api/docs/StackpackApi.md
  generated/stackstate_api/model_event_component.go
  generated/stackstate_api/model_full_component.go
  generated/stackstate_api/model_main_menu_group.go
  generated/stackstate_api/model_main_menu_view_item.go
  generated/stackstate_api/model_monitor_check_status_component.go
  generated/stackstate_api/model_presentation_definition.go
  generated/stackstate_api/model_presentation_main_menu.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

Query Topology Health states
  cmd/topology.go
  cmd/topology/topology_state.go
  cmd/topology/topology_state_test.go
Due: none

Removed test fixture duplication
  cmd/topology/topology_inspect_test.go
  cmd/topology/topology_state_test.go
  cmd/topology/topology_test_helper.go
Due: none

Path conditions:
  publish_base_image: any of: flake.lock, flake.nix
  check_stackstate_api_up-to-date: any of: stackstate_openapi/**
  license_scanning: any of: .gitlab-ci.yml, go.mod, go.sum, flake.nix, flake.lock
  dependency_scanning: any of: .gitlab-ci.yml, go.mod, go.sum, flake.nix, flake.lock
  goreleaser_check: any of: .gitlab-ci.yml, .goreleaser.yml
