Repository StackVista/stackstate-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_base_image, check_stackstate_api_up-to-date, license_scanning, dependency_scanning, goreleaser_check

.gitlab-ci.yml:

stages:
  - setup
  - check
  - deploy

nix_checksum:
  stage: .pre
  image: busybox:1.35.0
  artifacts:
    reports:
      dotenv: ci.env
  rules:
    - when: always
  script:
    - echo "NIX_CHECKSUM=$(cat flake.* | md5sum | awk '{print $1}')" >> ci.env

publish_base_image:
  stage: setup
  image: "nixos/nix:2.8.0"
  services:
    - name: docker:20.10.14-dind
  variables:
    NIX_CONFIG: "experimental-features = nix-command flakes"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    CI_BASE_IMAGE_PUSH: quay.io/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
  rules:
    - changes:
      - flake.lock
      - flake.nix
  script:
    - nix profile install nixpkgs#docker
    - echo "${quay_password}" | docker login --username=${quay_user} --password-stdin quay.io
    - nix build .#ci-image
    - docker load < result
    - docker tag stackstate-cli2-ci:latest $CI_BASE_IMAGE_PUSH
    - docker push $CI_BASE_IMAGE_PUSH

.go-base:
  image:
    name: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
    entrypoint: [""]
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOCACHE: $CI_PROJECT_DIR/.gocache
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script:
  cache:
    paths:
      - .go/pkg/mod/
      - .gocache
  tags:
    - sts-k8s-xl-runner

lint:
  extends: .go-base
  stage: check
  rules:
    - when: always
  script:
    - scripts/lint.sh

check_stackstate_api_up-to-date:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - stackstate_openapi/**
  script:
    - ./scripts/check_stackstate_api_up-to-date.sh

license_scanning:
  stage: check
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/license-finder:3"
  rules:
    - changes:
      - .gitlab-ci.yml
      - go.mod
      - go.sum
      - flake.nix
      - flake.lock
  variables:
    LM_REPORT_VERSION: '2.1'
  allow_failure: true
  script:
    - /run.sh analyze .
  artifacts:
    reports:
      license_scanning: gl-license-scanning-report.json

dependency_scanning:
  stage: check
  image: "registry.gitlab.com/gitlab-org/security-products/analyzers/gemnasium:2"
  rules:
    - changes:
      - .gitlab-ci.yml
      - go.mod
      - go.sum
      - flake.nix
      - flake.lock
  script:
    - /analyzer run
  allow_failure: true
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

goreleaser_check:
  extends: .go-base
  stage: check
  rules:
    - changes:
      - .gitlab-ci.yml
      - .goreleaser.yml
  script:
    - goreleaser check

compile_test:
  extends: .go-base
  stage: check
  rules:
    - when: always
  script:
    - go test ./... -v

generate-release-notes:
  image:
    name: quay.io/stackstate/go-rk:v0.1.2
    entrypoint: ["/bin/sh"]
  stage: check
  script:
    - /go-rk release-notes --fix-version 5.0.0 --output-file release-notes.md
  variables:
    RK_JIRA_PROJECT: STAC
    RK_JIRA_URL: https://stackstate.atlassian.net
    RK_JIRA_USER: $jira_username
    RK_JIRA_TOKEN: $jira_token
  artifacts:
    paths:
      - release-notes.md

publish:
  stage: deploy
  extends: .go-base
  dependencies:
    - generate-release-notes
  services:
    - name: docker:20.10.14-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - scripts/publish.sh
  rules:
    - if: '$CI_COMMIT_TAG && $CI_COMMIT_TAG =~ /^v[0-9]*/'
      when: on_success
    - when: never

STAC-23211: Accept specific stackpack version during provisioning
  cmd/stackpack/stackpack_install.go
  cmd/stackpack/stackpack_install_test.go
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/PresentationHighlight.md
  generated/stackstate_api/docs/StackpackApi.md
  generated/stackstate_api/model_presentation_highlight.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-23211: Implement downgrade stackpack command
  cmd/stackpack.go
  cmd/stackpack/stackpack_downgrade.go
  cmd/stackpack/stackpack_downgrade_test.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/StackpackApi.md
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-23211: Fix lint
  cmd/stackpack/common.go
  cmd/stackpack/stackpack_downgrade.go
  cmd/stackpack/stackpack_upgrade.go
Due: none

STAC-23211: Bump openapi
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-0: bump dependencies to eliminate CVEs
  .github/workflows/ci.yml
  go.mod
  go.sum
Due: license_scanning, dependency_scanning

STAC-25444: bump dependencies to eliminate CVEs
  .github/workflows/ci.yml
  go.mod
  go.sum
Due: license_scanning, dependency_scanning

STAC-25493: Remove unlock from stackpacks2 commands
  cmd/stackpack/stackpack_test_deploy_cmd.go
  cmd/stackpack/stackpack_test_deploy_cmd_test.go
Due: none

Pin CLI release builds to Go 1.25.13
  .github/workflows/ci.yml
  go.mod
  mise.toml
Due: license_scanning, dependency_scanning

Update gorilla/websocket to v1.5.3
  go.mod
  go.sum
Due: license_scanning, dependency_scanning

STAC-24987: release stackpacks 2
  cmd/otelcomponentmapping/otelcomponentmapping_delete.go
  cmd/stackpack.go
  cmd/stackpack/stackpack_package.go
  cmd/stackpack/stackpack_test_deploy.go
  cmd/stackpack/stackpack_test_deploy_test.go
  cmd/stackpack/stackpack_validate.go
  cmd/stackpack/stackpack_validate_test.go
  cmd/stackpack_test.go
  cmd/sts.go
  cmd/sts_test.go
Due: none

STAC-24987: mute commands when executed from other command
  cmd/stackpack/common.go
  cmd/stackpack/stackpack_downgrade.go
  cmd/stackpack/stackpack_install.go
  cmd/stackpack/stackpack_package.go
  cmd/stackpack/stackpack_test_deploy.go
  cmd/stackpack/stackpack_upgrade.go
  cmd/stackpack/stackpack_upload.go
Due: none

STAC-24987: fix formatting
  cmd/stackpack/stackpack_install.go
  cmd/stackpack/stackpack_test_deploy.go
  cmd/stackpack_test.go
Due: none

STAC-24987: use DI to suppress output with mock printer
  cmd/stackpack/common.go
  cmd/stackpack/stackpack_downgrade.go
  cmd/stackpack/stackpack_install.go
  cmd/stackpack/stackpack_package.go
  cmd/stackpack/stackpack_test_deploy.go
  cmd/stackpack/stackpack_upgrade.go
  cmd/stackpack/stackpack_upload.go
Due: none

Move CLI image base to digest-pinned SUSE BCI micro 15.7
  docker/Dockerfile.goreleaser
Due: none

Preserve named timezones in the BCI CLI image
  .github/workflows/container-timezones.yml
  docker/README.md
  docker/test-timezones.sh
  docker/testdata/timezones.go
  main.go
Due: none

Fix Grype inventory validation and refresh patched BCI micro base
  .github/workflows/container-timezones.yml
  docker/Dockerfile.goreleaser
Due: none

Fix Vancouver timezone data for DLA-4569-1
  .github/workflows/ci.yml
  .golangci.yml
  docker/README.md
  docker/testdata/timezones.go
  go.mod
  internal/util/string_util.go
Due: license_scanning, dependency_scanning

Use BCI Nano for CLI timezone data and TLS trust
  .github/workflows/ci.yml
  .github/workflows/container-timezones.yml
  .golangci.yml
  docker/Dockerfile.goreleaser
  docker/README.md
  docker/test-tls.sh
  go.mod
  internal/util/string_util.go
  main.go
Due: license_scanning, dependency_scanning

Preserve PR164 Nano validation and prior candidate history
  PR164-validation-history.md
Due: none

Keep only the BCI Nano base change in PR164
  .github/workflows/container-timezones.yml
  docker/README.md
  docker/test-timezones.sh
  docker/test-tls.sh
  docker/testdata/timezones.go
Due: none

Record CLI v3.9.1 published artifact verification
  publication-v3.9.1/README.md
  publication-v3.9.1/amd64-base-manifest.json
  publication-v3.9.1/amd64-buildinfo.txt
  publication-v3.9.1/amd64-cosign-tree.txt
  publication-v3.9.1/amd64-grype.json
  publication-v3.9.1/amd64-image-inspect.json
  publication-v3.9.1/amd64-inventory.json
  publication-v3.9.1/amd64-manifest.json
  publication-v3.9.1/amd64-secrets.json
  publication-v3.9.1/amd64-trivy.json
  publication-v3.9.1/amd64-version.json
  publication-v3.9.1/archive-build-verification.json
  publication-v3.9.1/arm64-base-manifest.json
  publication-v3.9.1/arm64-buildinfo.txt
  publication-v3.9.1/arm64-cosign-tree.txt
  publication-v3.9.1/arm64-grype.json
  publication-v3.9.1/arm64-image-inspect.json
  publication-v3.9.1/arm64-inventory.json
  publication-v3.9.1/arm64-manifest.json
  publication-v3.9.1/arm64-secrets.json
  publication-v3.9.1/arm64-trivy.json
  publication-v3.9.1/download-verification.json
  publication-v3.9.1/grype-db.json
  publication-v3.9.1/image-verification.json
  publication-v3.9.1/index-cosign-tree.txt
  publication-v3.9.1/index.json
  publication-v3.9.1/latest-index.json
  publication-v3.9.1/preflight.json
  publication-v3.9.1/release-run.json
  publication-v3.9.1/release.json
  publication-v3.9.1/scan-commands.json
  publication-v3.9.1/signed-tag.txt
  publication-v3.9.1/tag-verification.json
  publication-v3.9.1/trivy-version.json
  publication-v3.9.1/validation-summary.json
Due: none

STS-559: Send a default unlock fail rather than empty
  cmd/stackpack/stackpack_upgrade.go
  cmd/stackpack/stackpack_upgrade_test.go
Due: none

Migrate CLI YAML parsing to maintained libraries
  cmd/otelcomponentmapping/otelcomponentmapping_apply_test.go
  cmd/otelcomponentmapping/otelcomponentmapping_describe_test.go
  cmd/otelrelationmapping/otelrelationmapping_apply_test.go
  cmd/otelrelationmapping/otelrelationmapping_describe_test.go
  cmd/otelrelationmapping/otelrelationmapping_edit_test.go
  cmd/stackpack/stackpack_package.go
  cmd/stackpack/stackpack_package_test.go
  go.mod
  go.sum
  internal/config/io.go
  internal/config/io_test.go
  internal/editor/editor_test.go
  internal/printer/printer.go
  internal/printer/printer_test.go
Due: license_scanning, dependency_scanning

Patch linked Swag JSON and YAML utility advisories
  go.mod
  go.sum
Due: license_scanning, dependency_scanning

Qualify ordered OpenAPI serialization and resource limits
  go.mod
  internal/editor/yaml_contract_test.go
Due: license_scanning, dependency_scanning

Use patched utility APIs in serialization contract tests
  go.mod
  internal/editor/yaml_contract_test.go
Due: license_scanning, dependency_scanning

Align retained Nix package with supported Go and current vendor tree
  flake.lock
  flake.nix
Due: publish_base_image, license_scanning, dependency_scanning

Preserve Intel macOS Nix support on the maintained stable package set
  flake.lock
  flake.nix
Due: publish_base_image, license_scanning, dependency_scanning

Retain full Nix package test discovery
  flake.nix
Due: publish_base_image, license_scanning, dependency_scanning
