Repository StackVista/stackstate-cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_base_image, check_stackstate_api_up-to-date, license_scanning, dependency_scanning, goreleaser_check

publish_base_image:
  stage: setup
  image: nixos/nix:2.8.0
  services:
  - name: docker:20.10.14-dind
  variables:
    NIX_CONFIG: experimental-features = nix-command flakes
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
  ...

check_stackstate_api_up-to-date:
  image:
    name: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
    entrypoint:
    - ''
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOCACHE: $CI_PROJECT_DIR/.gocache
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - .go/pkg/mod/
    - .gocache
  ...

license_scanning:
  stage: check
  image: registry.gitlab.com/gitlab-org/security-products/analyzers/license-finder:3
  variables:
    LM_REPORT_VERSION: '2.1'
  allow_failure: true
  script:
  - /run.sh analyze .
  artifacts:
    reports:
      license_scanning: gl-license-scanning-report.json

dependency_scanning:
  stage: check
  image: registry.gitlab.com/gitlab-org/security-products/analyzers/gemnasium:2
  script:
  - /analyzer run
  allow_failure: true
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning-report.json

goreleaser_check:
  image:
    name: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-cli2-${NIX_CHECKSUM}
    entrypoint:
    - ''
  variables:
    GOPATH: $CI_PROJECT_DIR/.go
    GOCACHE: $CI_PROJECT_DIR/.gocache
    GITLAB_TOKEN: ${gitlab_api_scope_token}
  before_script: null
  cache:
    paths:
    - .go/pkg/mod/
    - .gocache
  ...

add missing files
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/api_monitor_urn.go
  generated/stackstate_api/api_stackpack.go
Due: none

update open api version
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

Update installers
  scripts/publish/installers/install.ps1
  scripts/publish/installers/install.sh
  scripts/publish/installers/uninstall.sh
Due: none

Add dependencies
  go.mod
  go.sum
Due: license_scanning, dependency_scanning

Update installer scripts
  scripts/publish/installers/install.ps1
  scripts/publish/installers/install.sh
  scripts/publish/publish_installers_to_s3.sh
Due: none

Update installer scripts
  scripts/publish/installers/install.ps1
  scripts/publish/installers/install.sh
  scripts/publish/installers/uninstall.sh
Due: none

Fix linter
  main_test.go
Due: none

Add Installers
  go.mod
  go.sum
  main.go
  main_test.go
  scripts/publish.sh
  scripts/publish/installers/install.ps1
  scripts/publish/installers/install.sh
  scripts/publish/installers/uninstall.sh
  scripts/publish/publish_installers_to_s3.sh
  scripts/publish/publish_latest_version_to_s3.sh
Due: license_scanning, dependency_scanning

STAC-16374 Update confirmation text
  cmd/stackpack/stackpack_confirm_manual_steps.go
  cmd/stackpack/stackpack_confirm_manual_steps_test.go
Due: none

STAC-16374: Port confirm manual steps
  cmd/stackpack.go
  cmd/stackpack/stackpack_confirm_manual_steps.go
  cmd/stackpack/stackpack_confirm_manual_steps_test.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/api_monitor_urn.go
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/docs/MonitorStatusIdentifierNotFoundError.md
  generated/stackstate_api/docs/MonitorStatusNotFoundError.md
  generated/stackstate_api/docs/StackpackApi.md
  generated/stackstate_api/model_monitor_status_identifier_not_found_error.go
  generated/stackstate_api/model_monitor_status_not_found_error.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

Update installers to include CLI type
  scripts/publish/installers/install.ps1
  scripts/publish/installers/install.sh
Due: none

Reintroduce short flag for name
  cmd/stackpack/stackpack_list_instances_test.go
  internal/common/common_flags.go
Due: none

Update openapi version
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-16667: Incorporate review comments
  CMD_DEVELOPMENT.md
  internal/common/output_flag.go
Due: none

STAC-16693: Use new (more) consistent OpenAPI spec
  cmd/monitor/common.go
  cmd/monitor/monitor_delete.go
  cmd/monitor/monitor_run.go
  cmd/monitor/monitor_status.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/api_monitor_urn.go
  generated/stackstate_api/api_service_token.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/BaseMonitorError.md
  generated/stackstate_api/docs/Monitor1.md
  generated/stackstate_api/docs/MonitorApi.md
  generated/stackstate_api/docs/MonitorApiError.md
  generated/stackstate_api/docs/MonitorApiErrorAllOf.md
  generated/stackstate_api/docs/MonitorIdentifierNotFoundError.md
  generated/stackstate_api/docs/MonitorNotFoundErrorAllOf.md
  generated/stackstate_api/docs/MonitorStatus1.md
  generated/stackstate_api/docs/MonitorStatusIdentifierNotFoundError.md
  generated/stackstate_api/docs/MonitorStatusNotFoundError.md
  generated/stackstate_api/docs/MonitorStatusNotFoundErrorAllOf.md
  generated/stackstate_api/docs/MonitorUrnApi.md
  generated/stackstate_api/docs/ServiceTokenApi.md
  generated/stackstate_api/model_base_monitor_error.go
  generated/stackstate_api/model_monitor_1.go
  generated/stackstate_api/model_monitor_api_error.go
  generated/stackstate_api/model_monitor_api_error_all_of.go
  generated/stackstate_api/model_monitor_identifier_not_found_error.go
  generated/stackstate_api/model_monitor_not_found_error.go
  generated/stackstate_api/model_monitor_not_found_error_all_of.go
  generated/stackstate_api/model_monitor_status_1.go
  generated/stackstate_api/model_monitor_status_identifier_not_found_error.go
  generated/stackstate_api/model_monitor_status_not_found_error.go
  generated/stackstate_api/model_monitor_status_not_found_error_all_of.go
  internal/di/mock_stackstate_client.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-16693: New (more) consistent OpenAPI spec
  cmd/monitor/common.go
  cmd/monitor/monitor_delete.go
  cmd/monitor/monitor_run.go
  cmd/monitor/monitor_status.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/api_monitor_urn.go
  generated/stackstate_api/api_service_token.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/BaseMonitorError.md
  generated/stackstate_api/docs/Monitor1.md
  generated/stackstate_api/docs/MonitorApi.md
  generated/stackstate_api/docs/MonitorApiError.md
  generated/stackstate_api/docs/MonitorApiErrorAllOf.md
  generated/stackstate_api/docs/MonitorIdentifierNotFoundError.md
  generated/stackstate_api/docs/MonitorNotFoundErrorAllOf.md
  generated/stackstate_api/docs/MonitorStatus1.md
  generated/stackstate_api/docs/MonitorStatusIdentifierNotFoundError.md
  generated/stackstate_api/docs/MonitorStatusNotFoundError.md
  generated/stackstate_api/docs/MonitorStatusNotFoundErrorAllOf.md
  generated/stackstate_api/docs/MonitorUrnApi.md
  generated/stackstate_api/docs/ServiceTokenApi.md
  generated/stackstate_api/model_base_monitor_error.go
  generated/stackstate_api/model_monitor_1.go
  generated/stackstate_api/model_monitor_api_error.go
  generated/stackstate_api/model_monitor_api_error_all_of.go
  generated/stackstate_api/model_monitor_identifier_not_found_error.go
  generated/stackstate_api/model_monitor_not_found_error.go
  generated/stackstate_api/model_monitor_not_found_error_all_of.go
  generated/stackstate_api/model_monitor_status_1.go
  generated/stackstate_api/model_monitor_status_identifier_not_found_error.go
  generated/stackstate_api/model_monitor_status_not_found_error.go
  generated/stackstate_api/model_monitor_status_not_found_error_all_of.go
  internal/di/mock_stackstate_client.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

Revert "STAC-16693: Use new (more) consistent OpenAPI spec"
  cmd/monitor/common.go
  cmd/monitor/monitor_delete.go
  cmd/monitor/monitor_run.go
  cmd/monitor/monitor_status.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_monitor_urn.go
  generated/stackstate_api/api_service_token.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/BaseMonitorError.md
  generated/stackstate_api/docs/Monitor1.md
  generated/stackstate_api/docs/MonitorApiError.md
  generated/stackstate_api/docs/MonitorApiErrorAllOf.md
  generated/stackstate_api/docs/MonitorIdentifierNotFoundError.md
  generated/stackstate_api/docs/MonitorNotFoundError.md
  generated/stackstate_api/docs/MonitorNotFoundErrorAllOf.md
  generated/stackstate_api/docs/MonitorStatus1.md
  generated/stackstate_api/docs/MonitorStatusIdentifierNotFoundError.md
  generated/stackstate_api/docs/MonitorStatusNotFoundError.md
  generated/stackstate_api/docs/MonitorStatusNotFoundErrorAllOf.md
  generated/stackstate_api/docs/MonitorUrnApi.md
  generated/stackstate_api/docs/ServiceTokenApi.md
  generated/stackstate_api/model_base_monitor_error.go
  generated/stackstate_api/model_monitor_1.go
  generated/stackstate_api/model_monitor_api_error.go
  generated/stackstate_api/model_monitor_api_error_all_of.go
  generated/stackstate_api/model_monitor_identifier_not_found_error.go
  generated/stackstate_api/model_monitor_not_found_error.go
  generated/stackstate_api/model_monitor_not_found_error_all_of.go
  generated/stackstate_api/model_monitor_status_1.go
  generated/stackstate_api/model_monitor_status_identifier_not_found_error.go
  generated/stackstate_api/model_monitor_status_not_found_error.go
  generated/stackstate_api/model_monitor_status_not_found_error_all_of.go
  internal/di/mock_stackstate_client.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-16993: Regenerate OpenAPI client for consistent syncronization/health/streams
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_health_synchronization.go
  generated/stackstate_api/docs/HealthSynchronizationApi.md
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-16693: Update OpenAPI
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/docs/InvalidMonitorIdentifierError.md
  generated/stackstate_api/model_invalid_monitor_identifier_error.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-16693: Make substreams consistent
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_health_synchronization.go
  generated/stackstate_api/docs/HealthSynchronizationApi.md
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

add service token
  cmd/cliconfig/cliconfig_save.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_api_token.go
  generated/stackstate_api/api_event.go
  generated/stackstate_api/api_export.go
  generated/stackstate_api/api_export_anomaly.go
  generated/stackstate_api/api_health_synchronization.go
  generated/stackstate_api/api_import.go
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/api_monitor_urn.go
  generated/stackstate_api/api_node.go
  generated/stackstate_api/api_scripting.go
  generated/stackstate_api/api_server.go
  generated/stackstate_api/api_service_token.go
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/api_topology_synchronization.go
  generated/stackstate_api/api_user_profile.go
  generated/stackstate_api/docs/ApiTokenApi.md
  generated/stackstate_api/docs/EventApi.md
  generated/stackstate_api/docs/ExportAnomalyApi.md
  generated/stackstate_api/docs/ExportApi.md
  generated/stackstate_api/docs/HealthSynchronizationApi.md
  generated/stackstate_api/docs/ImportApi.md
  generated/stackstate_api/docs/MonitorApi.md
  generated/stackstate_api/docs/MonitorUrnApi.md
  generated/stackstate_api/docs/NodeApi.md
  generated/stackstate_api/docs/ScriptingApi.md
  generated/stackstate_api/docs/ServerApi.md
  generated/stackstate_api/docs/ServiceTokenApi.md
  generated/stackstate_api/docs/StackpackApi.md
  generated/stackstate_api/docs/TopologySynchronizationApi.md
  generated/stackstate_api/docs/UserProfileApi.md
  internal/client/client.go
  internal/common/persistent_flags.go
  internal/conf/conf.go
  internal/conf/rw_conf_test.go
  internal/di/deps.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

update open api version
  generated/stackstate_api/api_api_token.go
  generated/stackstate_api/api_event.go
  generated/stackstate_api/api_export.go
  generated/stackstate_api/api_export_anomaly.go
  generated/stackstate_api/api_health_synchronization.go
  generated/stackstate_api/api_import.go
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/api_monitor_urn.go
  generated/stackstate_api/api_node.go
  generated/stackstate_api/api_scripting.go
  generated/stackstate_api/api_server.go
  generated/stackstate_api/api_service_token.go
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/api_topology_synchronization.go
  generated/stackstate_api/api_user_profile.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

update save config command
  cmd/cliconfig/cliconfig_save.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-0: Use master commit of openapi
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/docs/MonitorApi.md
  generated/stackstate_api/docs/Point.md
  generated/stackstate_api/model_point.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

remove duplicate token checks
  internal/di/deps.go
Due: none

correct error message
  internal/conf/conf.go
  internal/conf/rw_conf_test.go
Due: none

STAC-0: use long for datapoint timestamp
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/docs/Point.md
  generated/stackstate_api/model_point.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

add test case for mutual exclusive token
  internal/conf/conf.go
  internal/conf/rw_conf_test.go
Due: none

STAC-16674: add service token authentication
  cmd/cliconfig/cliconfig_save.go
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_api_token.go
  generated/stackstate_api/api_event.go
  generated/stackstate_api/api_export.go
  generated/stackstate_api/api_export_anomaly.go
  generated/stackstate_api/api_health_synchronization.go
  generated/stackstate_api/api_import.go
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/api_node.go
  generated/stackstate_api/api_scripting.go
  generated/stackstate_api/api_server.go
  generated/stackstate_api/api_service_token.go
  generated/stackstate_api/api_stackpack.go
  generated/stackstate_api/api_topology_synchronization.go
  generated/stackstate_api/api_user_profile.go
  generated/stackstate_api/docs/ApiTokenApi.md
  generated/stackstate_api/docs/EventApi.md
  generated/stackstate_api/docs/ExportAnomalyApi.md
  generated/stackstate_api/docs/ExportApi.md
  generated/stackstate_api/docs/HealthSynchronizationApi.md
  generated/stackstate_api/docs/ImportApi.md
  generated/stackstate_api/docs/MonitorApi.md
  generated/stackstate_api/docs/NodeApi.md
  generated/stackstate_api/docs/ScriptingApi.md
  generated/stackstate_api/docs/ServerApi.md
  generated/stackstate_api/docs/ServiceTokenApi.md
  generated/stackstate_api/docs/StackpackApi.md
  generated/stackstate_api/docs/TopologySynchronizationApi.md
  generated/stackstate_api/docs/UserProfileApi.md
  internal/client/client.go
  internal/common/persistent_flags.go
  internal/conf/conf.go
  internal/conf/rw_conf_test.go
  internal/di/deps.go
Due: none

STAC-16703 Start implementing context commands
  cmd/cliconfig.go
  cmd/cliconfig/cliconfig_describe.go
  cmd/cliconfig/cliconfig_describe_test.go
  cmd/cliconfig/cliconfig_save.go
  cmd/cliconfig/cliconfig_save_test.go
  cmd/cliconfig/cliconfig_validate.go
  cmd/cliconfig/cliconfig_validate_test.go
  cmd/cliconfig/common.go
  cmd/context.go
  cmd/context/context_list.go
  cmd/context/context_save.go
  cmd/context/context_show.go
  cmd/sts.go
  go.mod
  go.sum
  internal/common/common_flags.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/error.go
  internal/config/io.go
  internal/config/viper.go
  internal/di/deps.go
  internal/di/mock_deps.go
  pkg/xdg/home.go
Due: license_scanning, dependency_scanning

add topic list command
  cmd/sts.go
  cmd/topic.go
  cmd/topic/topic_list.go
  cmd/topic/topic_list_test.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_default.go
  generated/stackstate_api/api_topic.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/DefaultApi.md
  generated/stackstate_api/docs/InlineResponse200.md
  generated/stackstate_api/docs/InlineResponse404.md
  generated/stackstate_api/docs/LatestTelemetryStreamMetrics.md
  generated/stackstate_api/docs/LatestTelemetryStreamMetricsMetric.md
  generated/stackstate_api/docs/Topic.md
  generated/stackstate_api/docs/TopicApi.md
  generated/stackstate_api/model_inline_response_200.go
  generated/stackstate_api/model_inline_response_404.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics_metric.go
  generated/stackstate_api/model_topic.go
  internal/di/mock_stackstate_client.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

add missing files
  generated/stackstate_api/api_default.go
  generated/stackstate_api/api_topic.go
  generated/stackstate_api/client.go
  generated/stackstate_api/model_inline_response_200.go
  generated/stackstate_api/model_inline_response_404.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics_metric.go
  generated/stackstate_api/model_topic.go
Due: none

STAC-16703: Add ConfigPath
  cmd/anomaly/anomaly_collect_feedback_test.go
  cmd/cmd_rules_test.go
  cmd/monitor/monitor_apply_test.go
  cmd/monitor/monitor_delete_test.go
  cmd/monitor/monitor_list_test.go
  cmd/monitor/monitor_run_test.go
  cmd/monitor/monitor_status_test.go
  cmd/script/script_run_test.go
  cmd/servicetoken/servicetoken_create_test.go
  cmd/servicetoken/servicetoken_delete_test.go
  cmd/servicetoken/servicetoken_list_test.go
  cmd/settings/settings_apply_test.go
  cmd/settings/settings_describe_test.go
  cmd/settings/settings_list_test.go
  cmd/settings/settings_list_types_test.go
  cmd/stackpack/stackpack_confirm_manual_steps_test.go
  cmd/stackpack/stackpack_list_instances_test.go
  cmd/stackpack/stackpack_list_parameters_test.go
  cmd/stackpack/stackpack_list_test.go
  cmd/stackpack/stackpack_uninstall_test.go
  cmd/stackpack/stackpack_upgrade_test.go
  cmd/stackpack/stackpack_upload_test.go
  cmd/style_rules_test.go
  internal/di/deps.go
  internal/di/mock_deps.go
  main_test.go
Due: none

STAC-16703: Add Context commands
  cmd/context.go
  cmd/context/common.go
  cmd/context/context_delete.go
  cmd/context/context_delete_test.go
  cmd/context/context_list.go
  cmd/context/context_list_test.go
  cmd/context/context_save.go
  cmd/context/context_save_test.go
  cmd/context/context_set.go
  cmd/context/context_set_test.go
  cmd/context/context_show.go
  cmd/context/context_show_test.go
  cmd/context/context_validate.go
  cmd/context/context_validate_test.go
  cmd/context/test_helper.go
  cmd/monitor/monitor_delete_test.go
  cmd/monitor/monitor_list_test.go
  cmd/stackpack/stackpack_install_test.go
  internal/common/cobra_common.go
  internal/common/persistent_flags.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/io.go
  internal/di/command_test_util.go
  internal/di/deps.go
  internal/mutex_flags/mutex_flags.go
  internal/mutex_flags/mutex_flags_test.go
  internal/printer/mock_printer.go
  internal/printer/printer.go
  internal/util/input_struct.go
  internal/util/string_set.go
  internal/util/string_util.go
  main.go
  main_test.go
  pkg/term/color.go
Due: none

STAC-16703: Re-add Viper binding
  internal/common/common_flags.go
  internal/conf/conf.go
  internal/conf/rw_conf.go
  internal/conf/rw_conf_test.go
  internal/conf/validate_conf.go
  internal/config/config.go
  internal/config/viper.go
  internal/di/deps.go
  main.go
Due: none

STAC-16703: Move cobra stuff to own package
  cmd/context/context_save.go
  cmd/monitor/monitor_delete.go
  cmd/monitor/monitor_run.go
  cmd/monitor/monitor_status.go
  cmd/script/script_run.go
  cmd/script/script_run_test.go
  cmd/settings/settings_describe.go
  cmd/settings/settings_describe_test.go
  cmd/style_rules_test.go
  internal/cobra/cobra.go
  internal/cobra/mutex.go
  internal/cobra/mutex_test.go
  internal/cobra/use.go
  internal/cobra/use_test.go
  internal/di/command_test_util.go
  main.go
Due: none

STAC-16783 Replace Import API with Monitor Apply API
  cmd/monitor/monitor_apply.go
  generated/stackstate_api/.openapi-generator/FILES
  generated/stackstate_api/README.md
  generated/stackstate_api/api/openapi.yaml
  generated/stackstate_api/api_default.go
  generated/stackstate_api/api_monitor.go
  generated/stackstate_api/client.go
  generated/stackstate_api/docs/DefaultApi.md
  generated/stackstate_api/docs/InlineResponse200.md
  generated/stackstate_api/docs/InlineResponse404.md
  generated/stackstate_api/docs/LatestTelemetryStreamMetrics.md
  generated/stackstate_api/docs/LatestTelemetryStreamMetricsMetric.md
  generated/stackstate_api/docs/MonitorApi.md
  generated/stackstate_api/model_inline_response_200.go
  generated/stackstate_api/model_inline_response_404.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics.go
  generated/stackstate_api/model_latest_telemetry_stream_metrics_metric.go
  stackstate_openapi/openapi_version
Due: check_stackstate_api_up-to-date

STAC-16703: Add `--context` persistent flag
  cmd/context/context_save.go
  cmd/context/context_save_test.go
  cmd/context/context_set.go
  cmd/context/context_show.go
  cmd/context/context_show_test.go
  cmd/context/context_validate.go
  internal/common/persistent_flags.go
  internal/config/config.go
  internal/config/viper.go
  internal/di/deps.go
  main.go
Due: none

Path conditions:
  publish_base_image: any of: flake.lock, flake.nix
  check_stackstate_api_up-to-date: any of: stackstate_openapi/**
  license_scanning: any of: .gitlab-ci.yml, go.mod, go.sum, flake.nix, flake.lock
  dependency_scanning: any of: .gitlab-ci.yml, go.mod, go.sum, flake.nix, flake.lock
  goreleaser_check: any of: .gitlab-ci.yml, .goreleaser.yml
